<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden component" *transloco="let t">

    <fuse-card class="card-major">
        <div class="p-4">
            <div class="flex flex-col gt-xs:flex-row">
                <p> {{ resultMessage }}</p>
            </div>
            <div class="flex items-center justify-end">
                <button class="fuse-mat-button-large w-70 mt-2 bg-primary-300"
                        mat-flat-button type="button"
                        (click)="onClose()">
                    Close and Continue
                </button>

            </div>
            <div class="flex flex-col gt-xs:flex-row">
                <p></p>
            </div>
        </div>
    </fuse-card>
</div>
