<div *transloco="let t">
    <div class="h1 text-white bg-primary central">Settings for {{ sourceSetting.description }}</div>
    <div mat-dialog-content>
        <div id="forms" class="simple">

            <div class="content p-3">

                <form class="flex flex-col mt-2 p-2 pb-1 bg-card rounded-2xl shadow overflow-hidden"
                      name="sourceSettingsForm" [formGroup]="sourceSettingsForm"
                      (submit)="save()">

                    <div *ngIf="errors.length > 0" class="content p-3 alert alert-danger">
                        <ul>
                            <li *ngFor="let message of errors">
                                {{ message }}
                            </li>
                        </ul>
                    </div>

                    <div class="flex flex-col gt-xs:flex-row">
                        <div class="mat-form-field">
                            <mat-checkbox #default name="default" formControlName="default">
                                Use as default data source
                            </mat-checkbox>
                            <mat-error>{{ getErrorMessage(sourceSettingsForm.controls.default, 'Default')}}</mat-error>
                        </div>
                    </div>

                    <div class="flex flex-col gt-xs:flex-row">
                        <div class="mat-form-field">
                            <mat-checkbox name="enabled" formControlName="enabled">
                                Enable integration
                            </mat-checkbox>

                            <mat-error>{{ getErrorMessage(sourceSettingsForm.controls.enabled, 'Enabled')}}</mat-error>
                        </div>
                    </div>

                    <div class="source-sourceSettings" formArrayName="values">
                        <table class="table-full-width table-scroll-body">
                            <thead>
                            <tr>
                                <th style="width: 30%;" class="table-header table-framed">Description</th>
                                <th style="width: 30%;" class="table-header table-framed">Field name</th>
                                <th style="width: 30%;" class="table-header table-framed">Value</th>
                                <th style="width: 10%;" class="table-header table-framed">
                                    <button class="fuse-mat-button-large w-20 bg-primary-300"
                                            mat-flat-button type="button"
                                            (click)="addSetting()">
                                        Add
                                    </button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let sourceSetting of getValueControls(); let i=index">
                                <ng-container [formGroupName]="i">
                                    <td style="width: 30%;" class="table-framed table-field-no-underline">
                                        <mat-form-field appearance="none" class="table-field-full-width">
                                            <input readonly matInput
                                                   formControlName="description"
                                            >
                                        </mat-form-field>
                                    </td>
                                    <td style="width: 30%;" class="table-framed table-field-no-underline">
                                        <mat-form-field appearance="none" class="table-field-full-width">
                                            <input [readonly]="sourceSetting.controls.automatic.value === 1" matInput
                                                   formControlName="name"
                                                   required
                                                   autocomplete="do-not-autofill"
                                            >
                                            <mat-error>{{ getErrorMessage(sourceSetting.controls.name, 'Name')}}</mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td style="width: 30%;" class="table-framed">
                                        <mat-form-field appearance="none" class="table-field-full-width">
                                            <input matInput formControlName="value" autocomplete="do-not-autofill"
                                                   required>
                                            <mat-error>{{ getErrorMessage(sourceSetting.controls.value, 'Value')}}</mat-error>
                                        </mat-form-field>
                                    </td>
                                    <td style="width: 10%; text-align: center;" class="table-framed">
                                        <div *ngIf="sourceSetting.controls.automatic.value === 0">
                                            <button class="fuse-mat-button-large w-30 bg-warn-300"
                                                    mat-flat-button type="button"
                                                    (click)="removeSetting(i)">
                                                Remove
                                            </button>
                                        </div>
                                        <div *ngIf="sourceSetting.controls.oauth.value === 1">
                                            <button class="fuse-mat-button-large w-50 bg-primary-300"
                                                    mat-flat-button type="button"
                                                    (click)="doAuth(sourceSetting.controls.oauth_url.value)">
                                                Grant API Access
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="flex flex-col gt-xs:flex-row">
                        <p></p>
                    </div>
                    <ng-container *ngIf="!oAuthInProgress">
                        <div class="flex items-center justify-end">
                            <button class="fuse-mat-button-large w-20 mt-2"
                                    mat-stroked-button
                                    type="button" (click)="onCancel()">
                                Cancel
                            </button>
                            <button class="fuse-mat-button-large w-20 mt-2 bg-primary"
                                    mat-flat-button
                                    [disabled]="!sourceSettingsForm.valid"
                                    type="submit">
                                Save
                            </button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="oAuthInProgress">
                        <div class="flex items-center justify-end">
                            <button class="fuse-mat-button-large w-50 mt-2 bg-primary-300"
                                    mat-flat-button type="button"
                                    (click)="onClose()">
                                Continue
                            </button>
                        </div>
                    </ng-container>
                </form>
            </div>
        </div>
    </div>
</div>
