<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden" *transloco="let t">
    <div class="home-header">
        <a class="home-logo" href="https://www.dymazoo.com"></a>
        <div class="home-get-started">
            <span class="cursor-pointer home-header-link" (click)="toggleLogin($event)">Log In</span>
        </div>
    </div>

    <div *ngIf="action=='none'" id="registerConfirmComplete" class="relative flex flex-col flex-auto min-w-0 overflow-hidden component">
        <fuse-card class="card-minor">
            <div class="p-2">
                <div class="h1 text-white bg-primary-500">{{t('auth-confirm-reset')}}</div>
            </div>

            <div *ngIf="errors.length === 0">
                <p class="text-muted">Your password has been successfully changed. Please login to continue</p>
            </div>

            <div *ngIf="errors.length > 0" class="alert alert-danger">
                <ul>
                    <li *ngFor="let message of errors">
                        {{ message }}
                    </li>
                </ul>
            </div>
        </fuse-card>
    </div>

    <login *ngIf="action==='login'"></login>

</div>
