<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden" *transloco="let t">
    <div class="home-header">
        <div class="home-logo">
            <a href="https://dymazoo.com"><img src="assets/images/logo/dymazoo-flat.png"></a>
        </div>
        <div class="home-get-started">
            <span class="home-website"><a href="https://dymazoo.com">Website</a></span>
        </div>

    </div>

    <div id="registerConfirmComplete" class="relative flex flex-col flex-auto min-w-0 overflow-hidden component">
        <fuse-card class="card-major">
            <div class="p-2">
                <div class="h1 text-white bg-primary-500">Sign up Confirmed</div>
            </div>

            <div *ngIf="errors.length === 0">
                <p class="text-muted">Your account is confirmed and ready. Please login to continue</p>
            </div>

            <div *ngIf="errors.length > 0" class="alert alert-danger">
                <ul>
                    <li *ngFor="let message of errors">
                        {{ message }}
                    </li>
                </ul>
            </div>
        </fuse-card>
    </div>
</div>
