<div id="login" class="relative flex flex-col flex-auto min-w-0 overflow-hidden component" *transloco="let t">
    <fuse-card class="card-minor">
        <div class="p-4">
            <div class="h1 text-white bg-primary-500">{{t('auth-login')}}</div>
        </div>
        <div class="filled-major-item" fuseScrollbar>

            <div id="forms" class="simple fullwidth">

                <div class="content p-3">
                    <form class="flex flex-col mt-1 p-1 pb-4 bg-card rounded-2xl shadow overflow-hidden"
                          name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">

                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Email address</mat-label>
                                <input matInput #email formControlName="email" autocomplete="do-not-autofill" required>
                                <mat-error>{{ getErrorMessage(loginForm.controls.email, 'Email address')}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Password</mat-label>
                                <input matInput formControlName="password" autocomplete="do-not-autofill"
                                       type="password" required>
                                <mat-error>{{ getErrorMessage(loginForm.controls.password, 'Password')}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="flex items-center justify-end">
                            <button class="fuse-mat-button-large w-50 mt-2"
                                    mat-button
                                    type="button" [routerLink]="['/auth/forgot']">
                                Forgotten Password
                            </button>
                            <button
                                type="submit"
                                [disabled]="!loginForm.valid"
                                class="fuse-mat-button-large w-50 mt-2 bg-primary-600"
                                mat-flat-button>
                                Login
                            </button>
                        </div>


                    </form>
                </div>
                <div *ngIf="errors.length > 0" class="content p-3 alert alert-danger">
                    <ul>
                        <li *ngFor="let message of errors">
                            {{ message }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </fuse-card>
</div>
