<div id="pricing" class="relative flex flex-col flex-auto min-w-0 overflow-hidden" *transloco="let t">
    <div class="pricing-header">
        <a class="home-logo" href="https://www.dymazoo.com"></a>
        <div class="pricing-get-started">
            <span class="cursor-pointer home-header-link" (click)="gotoLogin($event)">
                Log&nbsp;In
            </span>
        </div>

    <div class="pricing-body" fuseScrollbar [fuseScrollbarOptions]="{suppressScrollX: true}">
        <div>
            <!-- Header & Cards -->
            <div class="relative pt-2 pb-12 sm:pt-8 sm:pb-24 px-6 sm:px-16 overflow-hidden">
                <!-- Background - @formatter:off -->
                <svg class="-z-1 absolute inset-0"
                     viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
                     xmlns="http://www.w3.org/2000/svg">
                    <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor"
                       stroke-width="100">
                        <circle r="234" cx="196" cy="23"></circle>
                        <circle r="234" cx="790" cy="491"></circle>
                    </g>
                </svg>
                <!-- @formatter:on -->
                <!-- Header -->
                <div class="flex flex-col items-center">
                    <h2 class="text-xl font-semibold">GROW YOUR REVENUES WITH TARGETED MARKETING</h2>
                    <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                        A complete Customer Data Platform at a price you can afford
                    </div>
                    <div class="mt-3 sm:text-2xl text-center tracking-tight text-secondary">
                        <div>Easily create a 360-degree Single Customer View with a comprehensive, unique profile for every single customer.</div>
                        <div>Build powerful marketing segments, gain insights and identify new revenue opportunities</div>
                        <div>Increase the effectiveness and ROI of you email marketing</div>

                    </div>
                    <!-- Recurring selector -->
                    <div
                        class="flex items-center mt-4 sm:mt-8 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
                        <button
                            class="px-6"
                            [ngClass]="{'bg-card pointer-events-none shadow': yearlyBilling,
                                'bg-transparent': !yearlyBilling}"
                            class="dark-text"
                            mat-flat-button
                            (click)="yearlyBilling = true"
                            disableRipple>
                            Yearly billing
                        </button>
                        <button
                            class="px-6"
                            [ngClass]="{'bg-card pointer-events-none shadow': !yearlyBilling,
                                'bg-transparent': yearlyBilling}"
                            class="dark-text"
                            mat-flat-button
                            (click)="yearlyBilling = false"
                            disableRipple>
                            Monthly billing
                        </button>
                    </div>
                    <div class="flex items-center justify-end" style="min-width: 95% !important;;">
                        <div
                            class="flex mt-1 sm:mt-2 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
                            <button
                                class="px-6"
                                [ngClass]="{'bg-card pointer-events-none shadow': usdCurrency,
                                    'bg-transparent': !usdCurrency}"
                                class="dark-text"
                                mat-flat-button
                                (click)="usdCurrency = true"
                                disableRipple>
                                $ / US Dollars
                            </button>
                            <button
                                class="px-6"
                                [ngClass]="{'bg-card pointer-events-none shadow': !usdCurrency,
                                    'bg-transparent': usdCurrency}"
                                class="dark-text"
                                mat-flat-button
                                (click)="usdCurrency = false"
                                disableRipple>
                                £ / GB Pounds
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Cards -->
                <div class="flex justify-center mt-3 sm:mt-6">
                    <div class="w-full max-w-sm md:max-w-7xl">
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-6 lg:gap-y-0 md:gap-x-6">
                            <!-- Card 1 -->
                            <fuse-card class="flex-col max-w-sm md:max-w-none p-6 sm:py-12 sm:px-10">
                                <div class="text-4xl font-bold tracking-tight leading-tight">Analyst</div>
                                <div class="mt-2 text-lg font-medium tracking-tight text-secondary">Everything you
                                    need to get started with smarter marketing
                                </div>
                                <div class="w-8 h-1 my-10 rounded bg-accent"></div>
                                <div *ngIf="usdCurrency">
                                    <!-- Price -->
                                    <div class="flex items-baseline whitespace-nowrap">
                                        <div class="mr-2 text-2xl">from USD</div>
                                        <div class="text-6xl font-semibold leading-tight tracking-tight">
                                            <ng-container *ngIf="yearlyBilling">${{pricingData.usd.analystYearly}}</ng-container>
                                            <ng-container *ngIf="!yearlyBilling">${{pricingData.usd.analystMonthly}}</ng-container>
                                        </div>
                                    </div>
                                    <!-- Price details -->
                                    <div class="flex flex-col mt-2 text-secondary">
                                        <ng-container *ngIf="yearlyBilling">
                                            <div><b>${{pricingData.usd.analystMonthly}}</b> if billed monthly</div>
                                        </ng-container>
                                        <ng-container *ngIf="!yearlyBilling">
                                            <div><b>${{pricingData.usd.analystYearly}}</b> if billed yearly</div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div *ngIf="!usdCurrency">
                                    <!-- Price -->
                                    <div class="flex items-baseline whitespace-nowrap">
                                        <div class="mr-2 text-2xl">from GBP</div>
                                        <div class="text-6xl font-semibold leading-tight tracking-tight">
                                            <ng-container *ngIf="yearlyBilling">£{{pricingData.gbp.analystYearly}}</ng-container>
                                            <ng-container *ngIf="!yearlyBilling">£{{pricingData.gbp.analystMonthly}}</ng-container>
                                        </div>
                                    </div>
                                    <!-- Price details -->
                                    <div class="flex flex-col mt-2 text-secondary">
                                        <ng-container *ngIf="yearlyBilling">
                                            <div><b>£{{pricingData.gbp.analystMonthly}}</b> if billed monthly</div>
                                        </ng-container>
                                        <ng-container *ngIf="!yearlyBilling">
                                            <div><b>£{{pricingData.gbp.analystYearly}}</b> if billed yearly</div>
                                        </ng-container>
                                    </div>
                                </div>
                                <!-- CTA -->
                                <button
                                    class="fuse-mat-button-large mt-10"
                                    mat-stroked-button
                                    [color]="'primary'" (click)='gotoRegister("analyst")'>
                                    Get Started
                                </button>
                                <!-- Features -->
                                <div class="flex flex-col mt-12">
                                    <div class="font-semibold">Core features, including:</div>
                                    <div class="mt-4 space-y-2">
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5"><b>360</b> degree <b>Single Customer View</b>
                                                database
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5"><b>Monthly</b> dashboard</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5"><b>Weekly</b> marketing universe build</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5">Comprehensive integration with your <b>Email
                                                Service</b>
                                                Provider
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5">Data file <b>Importer</b></div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5">Up to <b>{{pricingData.analystProfiles}}</b> customer profiles included</div>
                                        </div>
                                    </div>
                                </div>
                            </fuse-card>
                            <!-- Card 2 -->
                            <fuse-card
                                class="flex-col max-w-sm md:max-w-none p-6 sm:py-12 sm:px-10 ring-2 ring-primary overflow-visible">
                                <div class="absolute inset-x-0 -top-4 flex items-center justify-center">
                                    <div
                                        class="flex items-center h-8 px-8 rounded-full font-medium text-center leading-none bg-primary text-on-primary">
                                        POPULAR
                                    </div>
                                </div>
                                <div class="text-4xl font-bold tracking-tight leading-tight">Specialist</div>
                                <div class="mt-2 text-lg font-medium tracking-tight text-secondary">Perfect for growing
                                    businesses
                                    with rich data sources and an active marketing strategy
                                </div>
                                <div class="w-8 h-1 my-10 rounded bg-accent"></div>
                                <div *ngIf="usdCurrency">
                                    <!-- Price -->
                                    <div class="flex items-baseline whitespace-nowrap">
                                        <div class="mr-2 text-2xl">from USD</div>
                                        <div class="text-6xl font-semibold leading-tight tracking-tight">
                                            <ng-container *ngIf="yearlyBilling">${{pricingData.usd.specialistYearly}}</ng-container>
                                            <ng-container *ngIf="!yearlyBilling">${{pricingData.usd.specialistMonthly}}</ng-container>
                                        </div>
                                    </div>
                                    <!-- Price details -->
                                    <div class="flex flex-col mt-2 text-secondary">
                                        <ng-container *ngIf="yearlyBilling">
                                            <div><b>${{pricingData.usd.specialistMonthly}}</b> if billed monthly</div>
                                        </ng-container>
                                        <ng-container *ngIf="!yearlyBilling">
                                            <div><b>${{pricingData.usd.specialistYearly}}</b> if billed yearly</div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div *ngIf="!usdCurrency">
                                    <!-- Price -->
                                    <div class="flex items-baseline whitespace-nowrap">
                                        <div class="mr-2 text-2xl">from GBP</div>
                                        <div class="text-6xl font-semibold leading-tight tracking-tight">
                                            <ng-container *ngIf="yearlyBilling">£{{pricingData.gbp.specialistYearly}}</ng-container>
                                            <ng-container *ngIf="!yearlyBilling">£{{pricingData.gbp.specialistMonthly}}</ng-container>
                                        </div>
                                    </div>
                                    <!-- Price details -->
                                    <div class="flex flex-col mt-2 text-secondary">
                                        <ng-container *ngIf="yearlyBilling">
                                            <div><b>£{{pricingData.gbp.specialistMonthly}}</b> if billed monthly</div>
                                        </ng-container>
                                        <ng-container *ngIf="!yearlyBilling">
                                            <div><b>£{{pricingData.gbp.specialistYearly}}</b> if billed yearly</div>
                                        </ng-container>
                                    </div>
                                </div>
                                <!-- CTA -->
                                <button
                                    class="fuse-mat-button-large mt-10"
                                    mat-flat-button
                                    [color]="'primary'" (click)='gotoRegister("specialist")'>
                                    Grow your business
                                </button>
                                <!-- Features -->
                                <div class="flex flex-col mt-12">
                                    <div class="font-semibold">Analyst features, plus:</div>
                                    <div class="mt-4 space-y-2">
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5"><b>Weekly</b> dashboard</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5"><b>Daily</b> marketing universe build</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5">Comprehensive integration with leading <b>Ecommerce</b>
                                                and <b>Event
                                                    management</b> solutions
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5">Up to <b>{{pricingData.specialistProfiles}}</b> customer profiles included</div>
                                        </div>
                                    </div>
                                </div>
                            </fuse-card>
                            <!-- Card 3 -->
                            <fuse-card class="flex-col max-w-sm md:max-w-none p-6 sm:py-12 sm:px-10">
                                <div class="text-4xl font-bold tracking-tight leading-tight">Consultant</div>
                                <div class="mt-2 text-lg font-medium tracking-tight text-secondary">Perfect for
                                    companies
                                    wanting advanced tools and absolute control
                                </div>
                                <div class="w-8 h-1 my-10 rounded bg-accent"></div>
                                <div *ngIf="usdCurrency">
                                    <!-- Price -->
                                    <div class="flex items-baseline whitespace-nowrap">
                                        <div class="mr-2 text-2xl">from USD</div>
                                        <div class="text-6xl font-semibold leading-tight tracking-tight">
                                            <ng-container *ngIf="yearlyBilling">${{pricingData.usd.consultantYearly}}</ng-container>
                                            <ng-container *ngIf="!yearlyBilling">${{pricingData.usd.consultantMonthly}}</ng-container>
                                        </div>
                                    </div>
                                    <!-- Price details -->
                                    <div class="flex flex-col mt-2 text-secondary">
                                        <ng-container *ngIf="yearlyBilling">
                                            <div><b>${{pricingData.usd.consultantMonthly}}</b> if billed monthly</div>
                                        </ng-container>
                                        <ng-container *ngIf="!yearlyBilling">
                                            <div><b>${{pricingData.usd.consultantYearly}}</b> if billed yearly</div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div *ngIf="!usdCurrency">
                                    <!-- Price -->
                                    <div class="flex items-baseline whitespace-nowrap">
                                        <div class="mr-2 text-2xl">from GBP</div>
                                        <div class="text-6xl font-semibold leading-tight tracking-tight">
                                            <ng-container *ngIf="yearlyBilling">£{{pricingData.gbp.consultantYearly}}</ng-container>
                                            <ng-container *ngIf="!yearlyBilling">£{{pricingData.gbp.consultantMonthly}}</ng-container>
                                        </div>
                                    </div>
                                    <!-- Price details -->
                                    <div class="flex flex-col mt-2 text-secondary">
                                        <ng-container *ngIf="yearlyBilling">
                                            <div><b>£{{pricingData.gbp.consultantMonthly}}</b> if billed monthly</div>
                                        </ng-container>
                                        <ng-container *ngIf="!yearlyBilling">
                                            <div><b>£{{pricingData.gbp.consultantYearly}}</b> if billed yearly</div>
                                        </ng-container>
                                    </div>
                                </div>
                                <!-- CTA -->
                                <button
                                    class="fuse-mat-button-large mt-10"
                                    mat-stroked-button
                                    [color]="'primary'" (click)='gotoRegister("consultant")'>
                                    Supercharge your marketing
                                </button>
                                <!-- Features -->
                                <div class="flex flex-col mt-12">
                                    <div class="font-semibold">Specialist features, plus:</div>
                                    <div class="mt-4 space-y-2">
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5"><b>On Demand</b> marketing universe build</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5"><b>All</b> comprehensive integrations</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5"><b>Zapier</b> Integration</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5">Up to <b>{{pricingData.consultantProfiles}}</b> customer profiles included</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5"><b>Premium</b> support</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5">Optional <b>Fully Separated Database</b> for Maximum Performance</div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                            <div class="ml-2 leading-5">Optional <b>Complete Data History</b></div>
                                        </div>
                                    </div>
                                </div>
                            </fuse-card>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Features -->
            <div class="flex flex-col items-center px-4 py-2 sm:px-8 sm:pt-8 sm:pb-10 dark:bg-gray-800">
                <div class="w-full max-w-7xl">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-tight">
                            Growing with you as your business grows
                        </div>
                        <div class="max-w-4xl mt-2 text-xl text-secondary">
                            <p>Dymazoo works with the systems and services that you already use. Sign up and have data flowing into you Customer Data Platform in under 5 minutes.</p>
                            <p>&nbsp;</p>
                            <p>Start with the package that meets your needs and add or upgrade as you see results!</p>
                        </div>
                    </div>
                    <!-- Features grid -->
                    <div
                        class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8 w-full mt-6 sm:mt-6">

                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/email_integration.jpg">
                            <div class="mt-4 text-xl font-medium">Works with your existing Email Service</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>In-depth integration with leading email services, such as Mailchimp and
                                    Brevo (Sendinblue), with more coming soon.</p>
                                <p>Full bi-directional list management, powerful segmentation and email activity imports to
                                    track Sends, Opens, Clicks & Bounces.</p>
                                <p>No need to change your email provider and you keep your complete email marketing history</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/svc_database.png">
                            <div class="mt-4 text-xl font-medium">Single Customer View Database</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>Match and merge data from unlimited sources into a unique, 360-degree view of every single customer. </p>
                                <p>Understand who your customers are, what they buy and what they're interested in and how they're
                                    responding to your marketing campaigns</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/dragdrop.png">
                            <div class="mt-4 text-xl font-medium">Intuitive Drag and Drop Interface
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>Creating powerful target groups and audiences doesn't need to be difficult.
                                No more trying to work out how to combine "And" and "Or" rules to get the results you want.</p>
                                <p>Simply click or drag characteristics that describes the customers you wish to target. Get immediate results with real-time previews</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/ecommerce.png">
                            <div class="mt-4 text-xl font-medium">Ecommerce Platforms</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>In-depth integration with leading ecommerce platforms, such as Shopify, with more coming
                                    soon.</p>
                                <p>Automatically pull customer and sales data directly into your CDP</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/dashboard.png">
                            <div class="mt-4 text-xl font-medium">Powerful Dashboard</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>Track trends over time and see how your data is growing and improving with every new
                                    customer interaction.</p>
                                <p>Gain insights into your customers and discover opportunities to increase revenue.
                                Measure the increased Return on Investment from your email marketing</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/importer.png">
                            <div class="mt-4 text-xl font-medium">Intelligent File Importer</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>Easily import data that you already have. Extract, Transform & Load from unlimited sources</p>
                                <p>No matter how your data is stored, Dymazoo's intuitive & intelligent file importer makes it easy</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/event.png">
                            <div class="mt-4 text-xl font-medium">Event Management Solutions</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>In-depth integration with leading event management solutions, such as Eventbrite.</p>
                                <p>Automatically pull customer, booking and attendance data directly into your CDP</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/api.png">
                            <div class="mt-4 text-xl font-medium">Comprehensive & Flexible API
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>More technical users can integrate Dymazoo with in-house systems so that data automatically flows into your CDP</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:60px;height:100px" src="assets/images/pages/home/rocket.png">
                            <div class="mt-4 text-xl font-medium">Grows with you
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                Dymazoo has no limit of the number of customer profiles you can manage. Only pay for what
                                you need and enjoy unlimited potential
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- CTA -->
            <div class="px-6 py-10 sm:py-12 sm:px-16 background-dymazoo text-on-primary-600">
                <div class="flex flex-col items-center w-full max-w-7xl mx-auto text-center">
                    <div>
                        <img style="width:300px;height:265px" src="assets/images/pages/home/sign_up.png">
                    </div>
                    <div>
                        <div class="text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10">
                            Take control of your marketing
                        </div>
                        <div
                            class="mt-2 text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10 text-black text-opacity-70">
                            Start using Dymazoo today
                        </div>
                        <button
                            mat-flat-button
                            class="fuse-mat-button-large mt-8 px-12 bg-white text-primary-800 dark-text"
                            (click)='gotoRegister("consultant")'>
                            <span class="text-lg">Get Started!</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Frequently asked questions -->
            <div
                class="flex flex-col items-center pt-12 sm:pt-18 pb-8 sm:pb-20 px-6 sm:px-16 bg-gray-50 dark:bg-gray-800">
                <div class="w-full max-w-7xl">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-tight">
                            Frequently asked questions
                        </div>
                        <div class="max-w-xl mt-2 text-xl text-secondary">
                            Some of our customer's most frequently asked questions
                        </div>
                    </div>
                    <!-- FAQs grid -->
                    <div class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:gap-x-16 w-full mt-12 sm:mt-16">
                        <div>
                            <div class="text-xl font-semibold">
                                What is a Single Customer View (SCV)?
                            </div>
                            <div class="mt-2 leading-6 text-secondary justify-text">
                                <p>
                                    You probably already have a lot of data about your customers, but it may be scattered
                                    and difficult, or even <b>impossible</b>, to make good use of.
                                    Existing <b>Customer Data</b> and their <b>Sales History</b> are in your On-line store, Ecommerce
                                    solution and Accounting system.
                                    <b>Contact information</b>, like email address and phone number, are in your Email
                                    Platform, often with <b>Duplication</b> between email lists, or worse, mismatched and different data for the same person.
                                    There's also who you sent a specific marketing campaign to in the past, and their activity history, such as <b>Opens</b>, <b>Clicks</b>
                                    and <b>Bounces</b>. You may have data from on-line or physical <b>Events</b> that you've hosted and who booked and/or attended.
                                    And many of our customers have a whole collection of <b>Spreadsheets</b> and <b>Files</b> with other customer data, that they simply aren't getting
                                    value from.
                                </p>
                                <p class="mt-2">
                                    The Dymazoo CDP takes all of this data and automatically matches and merges
                                    to create a unique <b>360 degree view</b> of each customer. This includes <b>Demographics</b> (age, gender,
                                    location, interests, etc), <b>Behavioral</b> (opens, clicks, page views, etc) and
                                    <b>Transactional</b> (sales, event attendance, product returns, etc).
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="text-xl font-semibold">
                                What is a Marketing Universe?
                            </div>
                            <div class="mt-2 leading-6 text-secondary justify-text">
                                <p>
                                    A marketing universe is the key to identifying your target audiences for future
                                    marketing activities and for gaining insights into the behaviours and preferences of different groups of customers.
                                </p>
                                <p class="mt-2">
                                    Each complete customer profile in the SCV Database is analysed and augmented with
                                    <b>Added Value</b> information, such as <b>Recency</b>,
                                    <b>Frequency</b> and <b>Value</b> related to that customer's <b>Behavioural</b> and
                                    <b>Transactional</b> activity.
                                    How many purchases have they made in the last 30, 60, 90 or more days? How often
                                    have they opened an email from a marketing campaign?
                                    What has the total value of the customer been, broken down by lifetime and by
                                    purchasing period.
                                    Further analysis makes use of the customer's <b>Demographic</b> data add information
                                    about the <b>Quality</b> of their record
                                    to allocate them to pre-built categories, such "age is 18-25, 26-30, etc" or "gender is male,
                                    female or unknown".
                                </p>
                                <p class="mt-2">
                                    A marketing universe is ever changing. As new data is added to the SCV Database, and as time
                                    passes, the <b>Added Value</b> information  in each customer profile also changes.
                                    This is why it's vital to rebuild the entire marketing universe regularly.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="text-xl font-semibold">
                                How can Target Audiences and Segmentation help my business?
                            </div>
                            <div class="mt-2 leading-6 text-secondary justify-text">
                                <p>
                                    The detailed and <b>Added Value</b> information in your marketing universe allows you to identify commonalities
                                    between customersand create segments, resulting in powerful, focused and appropriate target groups.
                                    This might be something like "Woman under 40 that are
                                    interested in fashion and have a total
                                    sales value up to £200 in the past 90 days", "People that live within 100 miles of
                                    Birmingham, and have signed up to a
                                    webinar in the past year" or "Everyone that we have included in a specific marketing
                                    campaign, that opened but did not click".
                                    Each customer might belong to only a single target audience, or they may be in
                                    several different audiences.
                                </p>
                                <p class="mt-2">
                                    You can then <b>combine</b>, <b>filter</b>, or even exclude, people by target group to create <b>highly focused audiences</b>
                                    for your Marketing Campaigns that offer products and services that are <b>relevant</b>, <b>popular</b> and <b>timely</b>.
                                    While at the same time not sending irrelevant or unwelcome emails to customers
                                    that the campaign would not interest.
                                </p>
                                <p class="mt-2">
                                    You can also send different <b>Follow On</b> campaigns to different customers. For example, sending
                                    a compelling re-engagement offer to those customers that did not open, a <b>Call to Action</b> offer to those that did
                                    open but did not click, and a "you might also like" offer to customers that went on to make a purchase from the
                                    initial campaign.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="text-xl font-semibold">
                                What is a typical Return on Investment (ROI) for targeted marketing?
                            </div>
                            <div class="mt-2 leading-6 text-secondary justify-text">
                                <p>
                                    <b>Mass marketing</b> (also known as "spray and pray") might reach a lot of people
                                    but most of them will take no action,
                                    or may even unsubscribe losing you any future opportunity to communicate with them.
                                    <b>Targeted marketing</b> is extremely
                                    cost-effective allowing you to connect with the right audience, with the right offer,
                                    at the right time, while only spending on campaigns that work.
                                </p>
                                <p class="mt-2">
                                    ROI will vary from business to business, but studies show that on average, <b>77%</b> of
                                    email marketing Return on Investment comes from segmented and targeted campaigns.
                                </p>
                                <p class="mt-2">
                                    "MailChimp reports that email opens and unique opens of segmented campaigns were
                                    14.31% higher than non-segmented campaigns.
                                    Clicks from segmented campaigns were also more than 100% higher compared to
                                    non-segmented campaigns. Finally, when emails are
                                    segmented, there are 9.37% fewer un-subscribers" according to <a
                                    href="https://marketinginsidergroup.com/content-marketing/effectively-segment-email-list/"
                                    target="_blank"> Marketing Insider Group.</a>
                                </p>
                                <p><b>Effective email marketing</b> yields a Return on Investment of up to
                                    <a href="https://www.forbes.com/sites/allbusiness/2020/10/26/email-marketing-still-the-most-powerful-tool-to-take-your-business-to-the-next-level/?sh=5743d93b34bf" target="_blank">
                                        <b>$42 for every $1 spent</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
