<div id="registerComplete" class="relative flex flex-col flex-auto min-w-0 overflow-hidden component" *transloco="let t">
    <div class="home-header">
        <a class="home-logo" href="https://www.dymazoo.com"></a>
    </div>

    <fuse-card class="card-major">
        <div class="p-4">
            <div class="h1 text-white bg-primary-500">{{t('auth-register-complete')}}</div>
        </div>
        <p class="text-muted">Your account is being setup. You will receive an email shortly</p>
    </fuse-card>
</div>
