<div id="register" class="relative flex flex-col flex-auto min-w-0 overflow-hidden" *transloco="let t">
    <div class="register-header">
        <div class="register-get-started">
            <span class="cursor-pointer home-header-link home-header-optional" (click)="gotoPricing()">
                    Pricing
            </span>
            <span class="cursor-pointer home-header-link" (click)="gotoLogin($event)">
                    Log&nbsp;In
            </span>
        </div>
        <a class="home-logo" href="https://www.dymazoo.com"></a>
    </div>

    <div class="relative flex flex-col flex-auto min-w-0 overflow-hidden component">

        <fuse-card class="card-error" *ngIf="errors.length > 0">
            <div class="content p-3 alert alert-danger" (click)="clearErrors()">
                <div class="flex">
                    <div class="items-center justify-center basis-11/12">
                        <strong>Errors</strong>
                    </div>
                    <div class="justify-end flex basis-1/12">
                        <mat-icon [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                    </div>
                </div>
                <div class="flex">
                    <div class="items-center justify-center basis-11/12">
                        <ul>
                            <li *ngFor="let message of errors">
                                {{ message }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </fuse-card>

        <fuse-card *ngIf="action==='details'" class="card-medium">
            <div class="p-4">
                <div class="h1 text-white bg-primary-500">{{t('auth-register-heading')}}</div>
            </div>

            <div class="filled-major-item" fuseScrollbar>

                <div id="forms" class="simple fullwidth">


                    <div class="content p-3">
                        <div class="flex items-center justify-end">
                            <button
                                class="fuse-mat-button-large w-50 mt-2 bg-green-500"
                                mat-flat-button
                                type="button" (click)="onBack()"
                            >
                                Compare Plans
                            </button>
                        </div>

                        <form class="flex flex-col mt-1 p-1 pb-4 bg-card rounded-2xl shadow overflow-hidden"
                              name="registerForm" [formGroup]="registerForm"
                              (ngSubmit)="register()">

                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field class="flex-auto gt-xs:pr-3 plan-field">
                                    <mat-label>Plan</mat-label>
                                    <mat-select formControlName="clientPlan" required
                                                (selectionChange)="setPlan($event)">
                                        <mat-option [value]="'analyst'">
                                            Analyst
                                        </mat-option>
                                        <mat-option [value]="'specialist'">
                                            Specialist
                                        </mat-option>
                                        <mat-option [value]="'consultant'">
                                            Consultant
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{ getErrorMessage(registerForm.controls.clientPlan, 'Plan')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field

                                    class="flex-auto gt-xs:pr-3">
                                    <mat-label>Your name</mat-label>
                                    <input matInput #name formControlName="name" autocomplete="do-not-autofill"
                                           required>
                                    <mat-error>{{ getErrorMessage(registerForm.controls.name, 'Your name')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field class="flex-auto gt-xs:pr-3">
                                    <mat-label>Email address</mat-label>
                                    <input matInput formControlName="email" autocomplete="do-not-autofill" required>
                                    <mat-error>{{ getErrorMessage(registerForm.controls.email, 'Email address')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field class="flex-auto gt-xs:pr-3">
                                    <mat-label>Password</mat-label>
                                    <input matInput formControlName="password" autocomplete="do-not-autofill"
                                           type="password" required>
                                    <mat-error>{{ getErrorMessage(registerForm.controls.password, 'Password')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field class="flex-auto gt-xs:pr-3">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput formControlName="confirmPassword" autocomplete="do-not-autofill"
                                           type="password"
                                           required
                                           [errorStateMatcher]="errorMatcher">
                                    <mat-error>{{ getErrorMessage(registerForm.controls.confirmPassword, 'Password confirmation')}}</mat-error>
                                    <mat-error>{{ getErrorMessage(registerForm, '')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field class="flex-auto gt-xs:pr-3">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput formControlName="clientName" autocomplete="do-not-autofill"
                                           required>
                                    <mat-error>{{ getErrorMessage(registerForm.controls.clientName, 'Company name')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="flex justify-evenly gt-xs:flex-row">
                                <div
                                    class="flex items-center mb-2 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
                                    <button
                                        class="px-6"
                                        [ngClass]="{'bg-card pointer-events-none shadow': yearlyBilling,
                                'bg-transparent': !yearlyBilling}"
                                        class="dark-text"
                                        mat-flat-button
                                        type="button"
                                        (click)="setBilling($event, 'yearly')"
                                        disableRipple>
                                        Yearly billing
                                    </button>
                                    <button
                                        class="px-6"
                                        [ngClass]="{'bg-card pointer-events-none shadow': !yearlyBilling,
                                'bg-transparent': yearlyBilling}"
                                        class="dark-text"
                                        mat-flat-button
                                        type="button"
                                        (click)="setBilling($event,'monthly')"
                                        disableRipple>
                                        Monthly billing
                                    </button>
                                </div>
                            </div>

                            <div class="flex justify-evenly gt-xs:flex-row">
                                <div
                                    class="flex items-center mb-2 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
                                    <button
                                        class="px-6"
                                        [ngClass]="{'bg-card pointer-events-none shadow': usdCurrency,
                                'bg-transparent': !usdCurrency}"
                                        class="dark-text"
                                        mat-flat-button
                                        type="button"
                                        (click)="setCurrency($event, 'usd')"
                                        disableRipple>
                                        $ / US Dollars
                                    </button>
                                    <button
                                        class="px-6"
                                        [ngClass]="{'bg-card pointer-events-none shadow': !usdCurrency,
                                'bg-transparent': usdCurrency}"
                                        class="dark-text"
                                        mat-flat-button
                                        type="button"
                                        (click)="setCurrency($event,'gbp')"
                                        disableRipple>
                                        £ / GB Pounds
                                    </button>
                                </div>
                            </div>

                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-label>Maximum expected number of customer profiles</mat-label>
                                <mat-label>(You can always adjust this later)</mat-label>
                                <mat-slider
                                    formControlName="clientProfiles"
                                    thumbLabel
                                    [displayWith]="formatSliderLabel"
                                    tickInterval="1"
                                    step={{this.pricingData.profileAddition}}
                                    min="0"
                                    max="100000"
                                    aria-label="units"
                                    (change)="onSliderChange($event)"></mat-slider>
                            </div>
                            <div class="flex gt-xs:flex-row">
                                <div class="flex mr-6"></div>
                                <div class="flex justify-evenly" style="flex:1">
                                    <span>10k</span>
                                    <span>20k</span>
                                    <span>30k</span>
                                    <span>40k</span>
                                    <span>50k</span>
                                    <span>60k</span>
                                    <span>70k</span>
                                    <span>80k</span>
                                    <span>90k</span>
                                </div>
                                <div class="flex ml-6"></div>
                            </div>

                            <div *ngIf="plan === 'consultant'" class="flex justify-evenly gt-xs:flex-row mt-8">
                                <div class="consultant-options">
                                    <mat-label>Store your data in a <b>Fully Separated Database</b> for Maximum Performance?</mat-label>
                                </div>
                                <div
                                    class="flex items-center mb-2 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
                                    <button
                                        class="px-6"
                                        [ngClass]="{'bg-card pointer-events-none shadow': !separateDB,
                                'bg-transparent': separateDB}"
                                        class="dark-text"
                                        mat-flat-button
                                        type="button"
                                        (click)="setSeparateDB($event, 'no')"
                                        disableRipple>
                                        No
                                    </button>
                                    <button
                                        class="px-6"
                                        [ngClass]="{'bg-card pointer-events-none shadow': separateDB,
                                'bg-transparent': !separateDB}"
                                        class="dark-text"
                                        mat-flat-button
                                        type="button"
                                        (click)="setSeparateDB($event,'yes')"
                                        disableRipple>
                                        Yes
                                    </button>
                                </div>
                            </div>

                            <div *ngIf="separateDB" class="flex justify-evenly gt-xs:flex-row">
                                <div class="consultant-options">
                                    <mat-label>Create a <b>Complete Data History</b> for every customer profile?</mat-label>
                                </div>
                                <div
                                    class="flex items-center mb-2 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
                                    <button
                                        class="px-6"
                                        [ngClass]="{'bg-card pointer-events-none shadow': !fullHistory,
                                'bg-transparent': fullHistory}"
                                        class="dark-text"
                                        mat-flat-button
                                        type="button"
                                        (click)="setFullHistory($event, 'no')"
                                        disableRipple>
                                        No
                                    </button>
                                    <button
                                        class="px-6"
                                        [ngClass]="{'bg-card pointer-events-none shadow': fullHistory,
                                'bg-transparent': !fullHistory}"
                                        class="dark-text"
                                        mat-flat-button
                                        type="button"
                                        (click)="setFullHistory($event,'yes')"
                                        disableRipple>
                                        Yes
                                    </button>
                                </div>
                            </div>

                            <div class="flex flex-col items-start gt-xs:flex-row pb-2">
                                <div class="grid grid-cols-3 gap-x-2 register-prices">
                                    <div class="flex flex-col">
                                        <div class="flex gt-xs:flex-row text-2xl font-bold justify-end">
                                            &nbsp;
                                        </div>
                                        <div class="flex items-baseline gt-xs:flex-row">
                                            <span class="text-md">Base Plan:</span><span class="text-2xl">&nbsp;</span>
                                        </div>
                                        <div *ngIf="profilePrice > 0" class="flex items-baseline gt-xs:flex-row">
                                            <span class="text-md">Add profiles: </span><span
                                            class="text-2xl">&nbsp;</span>
                                        </div>
                                        <div *ngIf="optionsPrice > 0" class="flex items-baseline gt-xs:flex-row">
                                            <span class="text-md">Add options: </span><span
                                            class="text-2xl">&nbsp;</span>
                                        </div>
                                        <div class="flex items-baseline gt-xs:flex-row">
                                            <span class="text-md">Total: </span><span class="text-2xl">&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="flex flex-col rounded"
                                         [ngClass]="{'ring-2 ring-primary': !yearlyBilling}">
                                        <div *ngIf="!yearlyBilling" class="flex gt-xs:flex-row text-2xl font-bold justify-end">
                                            Billed Monthly
                                        </div>
                                        <div *ngIf="yearlyBilling" class="flex gt-xs:flex-row text-2xl font-bold justify-end">
                                            If Billed Monthly
                                        </div>
                                        <div class="flex items-baseline gt-xs:flex-row justify-end">
                                            <span class="text-2xl"> <ng-container *ngIf="usdCurrency">$</ng-container><ng-container *ngIf="!usdCurrency">£</ng-container> {{monthlyPlanPrice | number:'0.2'}}</span>
                                        </div>
                                        <div *ngIf="profilePrice > 0" class="flex items-baseline gt-xs:flex-row justify-end">
                                            <span class="text-2xl"> <ng-container *ngIf="usdCurrency">$</ng-container><ng-container *ngIf="!usdCurrency">£</ng-container> {{profilePrice | number:'0.2'}}</span>
                                        </div>
                                        <div *ngIf="optionsPrice > 0" class="flex items-baseline gt-xs:flex-row justify-end">
                                            <span class="text-2xl"> <ng-container *ngIf="usdCurrency">$</ng-container><ng-container *ngIf="!usdCurrency">£</ng-container> {{optionsPrice | number:'0.2'}}</span>
                                        </div>
                                        <div class="flex items-baseline gt-xs:flex-row justify-end">
                                            <span class="text-2xl"> <ng-container *ngIf="usdCurrency">$</ng-container><ng-container *ngIf="!usdCurrency">£</ng-container> {{monthlyPrice | number:'0.2'}}</span>
                                        </div>
                                    </div>
                                    <div class="flex flex-col rounded"
                                         [ngClass]="{'ring-2 ring-primary': yearlyBilling}">
                                        <div *ngIf="!yearlyBilling" class="flex gt-xs:flex-row text-2xl font-bold justify-end">
                                            If Billed Yearly
                                        </div>
                                        <div *ngIf="yearlyBilling" class="flex gt-xs:flex-row text-2xl font-bold justify-end">
                                            Billed Yearly
                                        </div>
                                        <div class="flex items-baseline gt-xs:flex-row justify-end">
                                            <span class="text-2xl"> <ng-container *ngIf="usdCurrency">$</ng-container><ng-container *ngIf="!usdCurrency">£</ng-container> {{yearlyPlanPrice | number:'0.2'}}</span>
                                        </div>
                                        <div *ngIf="profilePrice > 0" class="flex items-baseline gt-xs:flex-row justify-end">
                                            <span class="text-2xl"> <ng-container *ngIf="usdCurrency">$</ng-container><ng-container *ngIf="!usdCurrency">£</ng-container> {{profilePrice | number:'0.2'}}</span>
                                        </div>
                                        <div *ngIf="optionsPrice > 0" class="flex items-baseline gt-xs:flex-row justify-end">
                                            <span class="text-2xl"> <ng-container *ngIf="usdCurrency">$</ng-container><ng-container *ngIf="!usdCurrency">£</ng-container> {{optionsPrice | number:'0.2'}}</span>
                                        </div>
                                        <div class="flex items-baseline gt-xs:flex-row justify-end">
                                            <span class="text-2xl"> <ng-container *ngIf="usdCurrency">$</ng-container><ng-container *ngIf="!usdCurrency">£</ng-container> {{yearlyPrice | number:'0.2'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex gt-xs:flex-row">
                                <mat-form-field
                                    class="flex-auto gt-xs:pr-3">
                                    <mat-label>Have a coupon?</mat-label>
                                    <input matInput formControlName="clientCoupon" autocomplete="do-not-autofill"
                                           (change)="couponChange($event)">
                                    <mat-error>{{ getErrorMessage(registerForm.controls.clientCoupon, 'Coupon')}}</mat-error>
                                </mat-form-field>
                                <button
                                    class="fuse-mat-button-large w-30 mt-2 bg-teal-400"
                                    mat-flat-button
                                    type="button"
                                >
                                    Apply
                                </button>
                            </div>

                            <div class="grid grid-cols-2 gap-x-2 register-prices">
                                <div class="flex flex-col">
                                    <div class="flex items-start gt-xs:flex-row">
                                        <span class="text-2xl">Payable Today:</span>
                                    </div>

                                    <div *ngIf="payableToday===1" class="flex items-start gt-xs:flex-row">
                                        <span class="text-md">We will charge <ng-container *ngIf="usdCurrency">$</ng-container><ng-container *ngIf="!usdCurrency">£</ng-container>1 to your card and refund it within 24 hours</span><span class="text-2xl">&nbsp;</span>
                                    </div>

                                    <div class="flex items-start gt-xs:flex-row">
                                        <span class="text-2xl">Next Billing Date:</span>
                                    </div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="flex gt-xs:flex-row justify-end">
                                        <span class="text-2xl font-bold"><ng-container *ngIf="usdCurrency">$</ng-container><ng-container *ngIf="!usdCurrency">£</ng-container> {{payableToday | number:'0.2'}}</span>
                                    </div>

                                    <div *ngIf="payableToday===1" class="flex items-start gt-xs:flex-row">
                                        <span class="text-2xl">&nbsp;</span>
                                    </div>

                                    <div class="flex gt-xs:flex-row justify-end">
                                        <span class="text-2xl font-bold">{{nextBillingDate}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="flex items-center justify-end">
                                <button
                                    class="fuse-mat-button-large w-50 mt-2 bg-primary-600"
                                    mat-flat-button
                                    [disabled]="!registerForm.valid"
                                    type="submit"
                                >
                                    Submit
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </fuse-card>

        <fuse-card *ngIf="action==='payment'" class="card-major">
            <div class="p-4">
                <div class="h1 text-white bg-primary-500">{{t('auth-register-payment')}}</div>
            </div>
            <div class="filled-major-item" fuseScrollbar>

                <div id="formpayments" class="simple fullwidth">

                    <div class="content p-3">
                        <form id="payment-form">
                            <div id="payment-element">
                                <!-- Elements will create form elements here -->
                            </div>
                            <button
                                class="fuse-mat-button-large w-50 mt-2 bg-primary-500"
                                mat-flat-button
                                [disabled]="!paymentReady"
                                (click)="processPayment()"
                                type="submit"
                            >
                                Pay Now
                            </button>
                            <div id="error-message">
                                <!-- Display error message to your customers here -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </fuse-card>

    </div>

</div>
<script src="https://js.stripe.com/v3" async></script>
