<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden component" *transloco="let t">
    <fuse-card class="card-minor">
        <div class="p-4">
            <div class="h1 text-white bg-primary">{{t('extract-heading')}}</div>
        </div>

        <div class="major-item" fuseScrollbar>

            <div id="forms" class="simple fullwidth">
                <div class="content p-3">

                    <div *ngIf="errors.length > 0">
                        <div class="content p-3 alert alert-danger" (click)="clearErrors()">
                            <div class="flex">
                                <div class="items-center justify-center basis-11/12">
                                    <strong>Errors</strong>
                                </div>
                                <div class="justify-end flex basis-1/12">
                                    <mat-icon [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="items-center justify-center basis-11/12">
                                    <ul>
                                        <li *ngFor="let message of errors">
                                            {{ message }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col gt-xs:flex-row p-2">
                        <span class="h2 text-primary">
                            Your Marketing Universe is the key to identifying your target audiences for future
                            marketing activities and for gaining insights into the behaviours and preferences of different groups of customers
                        </span>
                    </div>
                    <div class="flex flex-col gt-xs:flex-row p-2">
                        <span class="text-lg">
                            When a new Marketing Universe is extracted, every <b>complete customer profile</b> in the SCV Database is fully analysed.
                        </span>
                        <span class="text-lg">
                            The new Marketing Universe then has up to date information for every customer's <b>Demographic</b> information,
                            such as the appropriate age band they fall into and the overall <b>quality</b> and <b>completeness</b> of the customer profile.
                        </span>
                        <span class="text-lg">
                            Each profile is then enhanced, adding critical <b>Business Intelligence</b> that provides the <b>recency</b>,
                            <b>frequency</b> and <b>value</b> information related to that customer's <b>Behavioural</b> and
                            <b>Transactional</b> activity
                        </span>
                    </div>
                    <div class="flex flex-col gt-xs:flex-row p-2">
                        <span class="h2 text-primary">
                            A Marketing Universe is ever changing!
                        </span>
                    </div>
                    <div class="flex flex-col gt-xs:flex-row p-2">
                        <span class="text-lg">
                            As time passes and as new <b>data</b> and <b>transactions</b> are added to the SCV Database,
                            so the <b>Demographic</b> and <b>Business Intelligence</b> information for each customer profile becomes out of date
                        </span>
                    </div>
                    <div class="flex flex-col gt-xs:flex-row p-2">
                        <span class="h2 text-primary">
                            This is why it's vital to rebuild your Marketing Universe regularly
                        </span>
                    </div>
                    <div *ngIf="plan !== 'consultant'" class="flex flex-col gt-xs:flex-row p-2">
                        <span class="text-xl font-bold">
                            <a class="cursor-pointer" (click)="accountManagement($event)">Upgrade</a> to the Consultant plan now, for on-demand Universe Extracts!
                        </span>
                    </div>
                    <div class="flex flex-col gt-xs:flex-row p-2">
                        <div class="flex items-center justify-end">
                            <button class="fuse-mat-button-large w-70 mt-2 bg-primary-500"
                                    mat-flat-button type="button"
                                    [disabled]="!canExtract"
                                    (click)="doExtract()"
                            >
                                New Marketing Universe
                            </button>

                            <button class="fuse-mat-button-large w-20 mt-2"
                                    mat-button
                                    type="button" (click)="onBack()">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fuse-card>
</div>
