<!-- Button -->
<button
    mat-icon-button
    [matMenuTriggerFor]="userActions">
    <span class="relative">
        <img ngxGravatar [email]="userData.email" fallback="mm"/>
        <span
            class="absolute right-0 bottom-0 w-2 h-2 rounded-full mr-px mb-px"
        ></span>
    </span>
</button>

<mat-menu
    [xPosition]="'before'"
    #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Signed in as</span>
            <span class="mt-1.5 text-md font-medium">{{userData.userName}}</span>
        </span>
    </button>
    <button *ngIf="isImpersonating" mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Original user</span>
            <span class="mt-1.5 text-md font-medium">{{userData.impersonateUserName}}</span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item
            (click)="profile()">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Profile</span>
    </button>
    <button mat-menu-item *ngIf="canClientAdmin" (click)="userManagement($event)">
        <mat-icon [svgIcon]="'heroicons_outline:user-group'"></mat-icon>
        <span>User management</span>
    </button>
    <button mat-menu-item *ngIf="canClientAdmin" (click)="accountManagement($event)">
        <mat-icon [svgIcon]="'heroicons_outline:briefcase'"></mat-icon>
        <span>Account management</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item *ngIf="!isImpersonating && canImpersonate" (click)="startImpersonating()">
        <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
        <span>Impersonate</span>
    </button>
    <button mat-menu-item *ngIf="isImpersonating" (click)="leaveImpersonate()">
        <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
        <span>Exit Impersonation</span>
    </button>
    <mat-divider *ngIf="isImpersonating || canImpersonate" class="my-2"></mat-divider>
    <button
        mat-menu-item
        (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Log out</span>
    </button>
</mat-menu>
