<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden component" *transloco="let t">
    <fuse-card class="card-dashboard">
        <div class="p-4">
            <div class="h1 text-white bg-primary">{{t('dashboard-heading')}}</div>
        </div>

        <div class="major-item" fuseScrollbar>

            <div id="forms" class="simple fullwidth">

                <div class="content">
                    <div *ngIf="!emptyDashboard && !dataReady" class="flex gt-xs:flex-row">
                        <div class='div-block-centre'>
                            <mat-spinner style="top: 50%; left: 50%; margin-left: -50px;"></mat-spinner>
                        </div>
                    </div>

                    <div *ngIf="emptyDashboard || dataReady" class="flex flex-col gt-xs:flex-row">
                        <div class='div-block'>
                            <mat-icon class="cursor-pointer" (click)="forceRefreshDashboard()">
                                refresh
                            </mat-icon>
                        </div>
                    </div>

                    <div *ngIf="emptyDashboard" class="p-3">
                        <h2 class="text-2xl font-semibold">Your dashboard doesn't have any data yet. Check out a sample below of what it could look like</h2>
                        <h2>Load customer data from integrations (such as Mailchimp, Sendinblue, Shopify or EventBrite)
                            or import data from files.</h2>
                        <h2>New dashboards are built weekly or monthly, depending on your plan.
                            For help on getting started, please visit <a
                            href="https://dymazoo.freshdesk.com/support/home" target="_blank">support</a> or
                            <a href="https://www.youtube.com/@dymazoo" target="_blank">our videos tutorials</a></h2>
                        <div class="proxy_dashboard"></div>
                    </div>
                </div>


                <!-- Summary Grid -->
                <div *ngIf="!emptyDashboard && dataReady"
                     class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-8">
                    <!-- People -->
                    <div
                        class="sm:col-span-1 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex items-start justify-between m-6 mb-0">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">People</div>
                        </div>
                        <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                            <div
                                class="text-7xl font-bold tracking-tighter leading-tight">{{peopleData.amount | number:'1.0-0'}}</div>
                            <div class="flex lg:flex-col lg:ml-3">
                                <mat-icon *ngIf="peopleData.trend < 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                                <mat-icon *ngIf="peopleData.trend >= 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-up'"></mat-icon>
                                <div
                                    class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                    <span class="font-medium text-red-500">{{ peopleData.trend }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto h-20">
                            <apx-chart
                                class="flex-auto w-full h-full"
                                [chart]="chartPeople.chart"
                                [colors]="chartPeople.colors"
                                [series]="chartPeople.series"
                                [stroke]="chartPeople.stroke"
                                [tooltip]="chartPeople.tooltip"
                                [xaxis]="chartPeople.xaxis"
                                [yaxis]="chartPeople.yaxis"></apx-chart>
                        </div>
                    </div>

                    <!-- Sales -->
                    <div *ngIf="showSales"
                         class="sm:col-span-1 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex items-start justify-between m-6 mb-0">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Sales</div>
                        </div>
                        <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                            <div
                                class="text-7xl font-bold tracking-tighter leading-tight">{{salesData.amount | number:'1.0-0'}}</div>
                            <div class="flex lg:flex-col lg:ml-3">
                                <mat-icon *ngIf="salesData.trend < 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                                <mat-icon *ngIf="salesData.trend >= 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-up'"></mat-icon>
                                <div
                                    class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                    <span class="font-medium text-red-500">{{ salesData.trend }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto h-20">
                            <apx-chart
                                class="flex-auto w-full h-full"
                                [chart]="chartSales.chart"
                                [colors]="chartSales.colors"
                                [series]="chartSales.series"
                                [stroke]="chartSales.stroke"
                                [tooltip]="chartSales.tooltip"
                                [xaxis]="chartSales.xaxis"
                                [yaxis]="chartSales.yaxis"></apx-chart>
                        </div>
                    </div>

                    <!-- Events -->
                    <div *ngIf="showEvents"
                         class="sm:col-span-1 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex items-start justify-between m-6 mb-0">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Event Actions</div>
                        </div>
                        <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                            <div
                                class="text-7xl font-bold tracking-tighter leading-tight">{{eventsData.amount | number:'1.0-0'}}</div>
                            <div class="flex lg:flex-col lg:ml-3">
                                <mat-icon *ngIf="eventsData.trend < 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                                <mat-icon *ngIf="eventsData.trend >= 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-up'"></mat-icon>
                                <div
                                    class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                    <span class="font-medium text-red-500">{{ eventsData.trend }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto h-20">
                            <apx-chart
                                class="flex-auto w-full h-full"
                                [chart]="chartEvents.chart"
                                [colors]="chartEvents.colors"
                                [series]="chartEvents.series"
                                [stroke]="chartEvents.stroke"
                                [tooltip]="chartEvents.tooltip"
                                [xaxis]="chartEvents.xaxis"
                                [yaxis]="chartEvents.yaxis"></apx-chart>
                        </div>
                    </div>

                    <!-- Sent -->
                    <div *ngIf="showSent"
                        class="sm:col-span-1 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex items-start justify-between m-6 mb-0">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Sent</div>
                        </div>
                        <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                            <div
                                class="text-7xl font-bold tracking-tighter leading-tight">{{sentData.amount | number:'1.0-0'}}</div>
                            <div class="flex lg:flex-col lg:ml-3">
                                <mat-icon *ngIf="sentData.trend < 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                                <mat-icon *ngIf="sentData.trend >= 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-up'"></mat-icon>
                                <div
                                    class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                    <span class="font-medium text-red-500">{{ sentData.trend }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto h-20">
                            <apx-chart
                                class="flex-auto w-full h-full"
                                [chart]="chartSent.chart"
                                [colors]="chartSent.colors"
                                [series]="chartSent.series"
                                [stroke]="chartSent.stroke"
                                [tooltip]="chartSent.tooltip"
                                [xaxis]="chartSent.xaxis"
                                [yaxis]="chartSent.yaxis"></apx-chart>
                        </div>
                    </div>

                    <!-- Open -->
                    <div *ngIf="showOpen"
                        class="sm:col-span-1 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex items-start justify-between m-6 mb-0">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Opened</div>
                        </div>
                        <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                            <div
                                class="text-7xl font-bold tracking-tighter leading-tight">{{openData.amount | number:'1.0-0'}}</div>
                            <div class="flex lg:flex-col lg:ml-3">
                                <mat-icon *ngIf="openData.trend < 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                                <mat-icon *ngIf="openData.trend >= 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-up'"></mat-icon>
                                <div
                                    class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                    <span class="font-medium text-red-500">{{ openData.trend }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto h-20">
                            <apx-chart
                                class="flex-auto w-full h-full"
                                [chart]="chartOpen.chart"
                                [colors]="chartOpen.colors"
                                [series]="chartOpen.series"
                                [stroke]="chartOpen.stroke"
                                [tooltip]="chartOpen.tooltip"
                                [xaxis]="chartOpen.xaxis"
                                [yaxis]="chartOpen.yaxis"></apx-chart>
                        </div>
                    </div>

                    <!-- Click -->
                    <div *ngIf="showClick"
                        class="sm:col-span-1 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex items-start justify-between m-6 mb-0">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Clicked</div>
                        </div>
                        <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                            <div
                                class="text-7xl font-bold tracking-tighter leading-tight">{{clickData.amount | number:'1.0-0'}}</div>
                            <div class="flex lg:flex-col lg:ml-3">
                                <mat-icon *ngIf="clickData.trend < 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                                <mat-icon *ngIf="clickData.trend >= 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-up'"></mat-icon>
                                <div
                                    class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                    <span class="font-medium text-red-500">{{ clickData.trend }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto h-20">
                            <apx-chart
                                class="flex-auto w-full h-full"
                                [chart]="chartClick.chart"
                                [colors]="chartClick.colors"
                                [series]="chartClick.series"
                                [stroke]="chartClick.stroke"
                                [tooltip]="chartClick.tooltip"
                                [xaxis]="chartClick.xaxis"
                                [yaxis]="chartClick.yaxis"></apx-chart>
                        </div>
                    </div>

                    <!-- Bounce -->
                    <div *ngIf="showBounce"
                         class="sm:col-span-1 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex items-start justify-between m-6 mb-0">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Bounced</div>
                        </div>
                        <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                            <div
                                class="text-7xl font-bold tracking-tighter leading-tight">{{bounceData.amount | number:'1.0-0'}}</div>
                            <div class="flex lg:flex-col lg:ml-3">
                                <mat-icon *ngIf="bounceData.trend < 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                                <mat-icon *ngIf="bounceData.trend >= 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-up'"></mat-icon>
                                <div
                                    class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                    <span class="font-medium text-red-500">{{ bounceData.trend }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto h-20">
                            <apx-chart
                                class="flex-auto w-full h-full"
                                [chart]="chartBounce.chart"
                                [colors]="chartBounce.colors"
                                [series]="chartBounce.series"
                                [stroke]="chartBounce.stroke"
                                [tooltip]="chartBounce.tooltip"
                                [xaxis]="chartBounce.xaxis"
                                [yaxis]="chartBounce.yaxis"></apx-chart>
                        </div>
                    </div>

                    <!-- Unsubscribe -->
                    <div *ngIf="showUnsubscribe"
                        class="sm:col-span-1 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex items-start justify-between m-6 mb-0">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Unsubscribed</div>
                        </div>
                        <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                            <div
                                class="text-7xl font-bold tracking-tighter leading-tight">{{unsubscribeData.amount | number:'1.0-0'}}</div>
                            <div class="flex lg:flex-col lg:ml-3">
                                <mat-icon *ngIf="unsubscribeData.trend < 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                                <mat-icon *ngIf="unsubscribeData.trend >= 0"
                                          class="icon-size-5 text-red-500"
                                          [svgIcon]="'heroicons_solid:trending-up'"></mat-icon>
                                <div
                                    class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                    <span class="font-medium text-red-500">{{ unsubscribeData.trend }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto h-20">
                            <apx-chart
                                class="flex-auto w-full h-full"
                                [chart]="chartUnsubscribe.chart"
                                [colors]="chartUnsubscribe.colors"
                                [series]="chartUnsubscribe.series"
                                [stroke]="chartUnsubscribe.stroke"
                                [tooltip]="chartUnsubscribe.tooltip"
                                [xaxis]="chartUnsubscribe.xaxis"
                                [yaxis]="chartUnsubscribe.yaxis"></apx-chart>
                        </div>
                    </div>

                </div>

                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field *ngIf="dateItem && !emptyDashboard && dataReady"
                                    class="fuse-mat-dense fuse-mat-no-subscript w-60">
                        <mat-label>Dashboard as at</mat-label>
                        <mat-select [(ngModel)]="dateItem.value" (selectionChange)="onDateSelect($event.value)">
                            <mat-option *ngFor="let dashboardDate of dashboardDates"
                                        [value]="dashboardDate.value">
                                {{ dashboardDate.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Detail Grid -->
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-8">

                    <ng-container *ngFor="let type of showCharts; let chartIndex=index">

                        <ng-container *ngIf="chartAll[showCharts[chartIndex]]">
                            <!-- donut -->
                            <div *ngIf="allChartData[showCharts[chartIndex]].type === 'donut'"
                                 class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate">{{ allChartData[showCharts[chartIndex]].title }}</div>
                                </div>
                                <div class="flex flex-col flex-auto mt-6 h-44">
                                    <apx-chart
                                        class="flex flex-auto items-center justify-center w-full h-full"
                                        [chart]="chartAll[showCharts[chartIndex]].chart"
                                        [colors]="chartAll[showCharts[chartIndex]].colors"
                                        [labels]="chartAll[showCharts[chartIndex]].labels"
                                        [plotOptions]="chartAll[showCharts[chartIndex]].plotOptions"
                                        [series]="chartAll[showCharts[chartIndex]].series"
                                        [states]="chartAll[showCharts[chartIndex]].states"
                                        [tooltip]="chartAll[showCharts[chartIndex]].tooltip"></apx-chart>
                                </div>
                                <div class="mt-8">
                                    <div class="-my-3 divide-y">
                                        <ng-container
                                            *ngFor="let dataset of allChartData[showCharts[chartIndex]].series; let i = index">
                                            <div class="grid grid-cols-3 py-3">
                                                <div class="flex items-center">
                                                    <div
                                                        class="flex-0 w-2 h-2 rounded-full"
                                                        [style.backgroundColor]="chartAll[showCharts[chartIndex]].colors[i]"></div>
                                                    <div
                                                        class="ml-3 truncate">{{allChartData[showCharts[chartIndex]].labels[i]}}</div>
                                                </div>
                                                <div
                                                    class="font-medium text-right">{{ allChartData[showCharts[chartIndex]].total * dataset / 100 | number:'1.0-0' }}</div>
                                                <div class="text-right text-secondary">{{ dataset }}%</div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <!-- bar -->
                            <div *ngIf="allChartData[showCharts[chartIndex]].type === 'bar'"
                                 class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate">{{ allChartData[showCharts[chartIndex]].title }}</div>
                                </div>
                                <div class="flex flex-col flex-auto mt-6 h-60">
                                    <apx-chart
                                        class="flex flex-auto items-center justify-center w-full h-full"
                                        [chart]="chartAll[showCharts[chartIndex]].chart"
                                        [dataLabels]="chartAll[showCharts[chartIndex]].dataLabels"
                                        [grid]="chartAll[showCharts[chartIndex]].grid"
                                        [colors]="chartAll[showCharts[chartIndex]].colors"
                                        [plotOptions]="chartAll[showCharts[chartIndex]].plotOptions"
                                        [fill]="chartAll[showCharts[chartIndex]].fill"
                                        [legend]="chartAll[showCharts[chartIndex]].legend"
                                        [series]="chartAll[showCharts[chartIndex]].series"
                                        [stroke]="chartAll[showCharts[chartIndex]].stroke"
                                        [tooltip]="chartAll[showCharts[chartIndex]].tooltip"
                                        [xaxis]="chartAll[showCharts[chartIndex]].xaxis"
                                        [yaxis]="chartAll[showCharts[chartIndex]].yaxis"></apx-chart>
                                </div>
                            </div>
                            <!-- line -->
                            <div *ngIf="allChartData[showCharts[chartIndex]].type === 'line'"
                                 class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate">{{ allChartData[showCharts[chartIndex]].title }}</div>
                                </div>
                                <div class="flex flex-col flex-auto mt-6 h-60">
                                    <apx-chart
                                        class="flex flex-auto items-center justify-center w-full h-full"
                                        [chart]="chartAll[showCharts[chartIndex]].chart"
                                        [series]="chartAll[showCharts[chartIndex]].series"
                                        [colors]="chartAll[showCharts[chartIndex]].colors"
                                        [stroke]="chartAll[showCharts[chartIndex]].stroke"
                                        [xaxis]="chartAll[showCharts[chartIndex]].xaxis"
                                        [yaxis]="chartAll[showCharts[chartIndex]].yaxis"
                                        [tooltip]="chartAll[showCharts[chartIndex]].tooltip"></apx-chart>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>


                </div>
            </div>
        </div>
    </fuse-card>
</div>
