<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">
    <div class="home-header">
        <a class="home-logo" href="https://www.dymazoo.com"></a>
        <div class="home-get-started">
            <a *ngIf="!isLoggedIn" class="cursor-pointer home-header-link" href="https://youtube.com/@dymazoo" target="_blank">
                Our&nbsp;Channel
            </a>
            <a *ngIf="!isLoggedIn" class="cursor-pointer home-header-link" href="https://medium.com/@dymazoo" target="_blank">
                Blog
            </a>
            <span *ngIf="!isLoggedIn" class="cursor-pointer home-header-link home-header-optional" (click)="gotoPricing()">
                Pricing
            </span>
            <span *ngIf="!isLoggedIn" class="cursor-pointer home-header-link" (click)="gotoRegister()">
                Sign Up
            </span>
            <span *ngIf="!isLoggedIn" class="cursor-pointer home-header-link" (click)="toggleLogin($event)">
                Log&nbsp;In
            </span>
        </div>

    </div>

    <div *ngIf="action=='none'" class="home-body" fuseScrollbar [fuseScrollbarOptions]="{suppressScrollX: true}">
        <div class="home-banner">
            <div class="home-message">
                <div class="home-message-top">
                    GROW YOUR REVENUES WITH TARGETED MARKETING
                </div>
                <div class="home-message-main">
                    A complete Customer Data Platform at a price you can afford
                </div>
                <div class="home-special">
                    <p>
                        FREE for 30 DAYS when you use coupon
                    </p>
                    <p class="coupon">30DAYSFREE</p>
                </div>
                <div class="home-message-bottom">
                    <p>Increase the effectiveness of you marketing by over 70%!</p>
                </div>
                <div class="home-banner-actions1">
                    <button class="fuse-mat-button-large w-70 min-w-44 mt-2 bg-primary-200 dark-text"
                            mat-flat-button type="button"
                            (click)="gotoRegister()">Sign Up!
                    </button>
                    <a class="fuse-mat-button-large w-80 min-w-44 mt-2 ml-2 bg-green-300 dark-text"
                            mat-flat-button type="button" href="https://mailchi.mp/da95efa2c88f/m1dhdx2jij" target="_blank">
                        Download our free eBook
                    </a>
                </div>
                <div class="home-banner-actions2">
                    <a class="fuse-mat-button-large w-70 min-w-44 mt-2 bg-red-300 dark-text"
                       mat-flat-button type="button" href="https://youtu.be/rxsRODXlpG4" target="_blank">
                        Watch a Demo
                    </a>
                    <button class="fuse-mat-button-large w-80 min-w-44 mt-2 ml-2 bg-purple-300 dark-text"
                            mat-flat-button type="button"
                            (click)="gotoFAQ()">Frequently Asked Questions
                    </button>
                </div>
            </div>
        </div>

        <!-- Background - @formatter:off -->
        <svg class="-z-1 absolute inset-0"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
             xmlns="http://www.w3.org/2000/svg">
            <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor"
               stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->

        <!-- Features -->
        <div #features id="features"
             class="relative pt-2 pb-6 sm:pt-6 sm:pb-6 px-6 sm:px-16 overflow-hidden">
            <!-- Background - @formatter:off -->
            <svg class="-z-1 absolute inset-0"
                 viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
                 xmlns="http://www.w3.org/2000/svg">
                <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor"
                   stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <!-- @formatter:on -->
            <div class="flex flex-col items-center px-4 py-2 sm:px-8 sm:pt-6 sm:pb-10 dark:bg-gray-800">
                <div class="w-full max-w-7xl">
                    <div>
                        <div>
                            <div class="div-block-inline">
                                <div class="text-4xl font-extrabold tracking-tight leading-tight">
                                    Features
                                </div>
                                <div class="max-w-2xl mt-2 text-xl text-secondary">
                                    <p>No long term contract. Cancel at any time!</p>
                                    <p>&nbsp;</p>
                                    <p>Dymazoo works with the systems and services that you already use. Sign up and have data flowing into you Customer Data Platform in under 5 minutes.</p>
                                    <p>&nbsp;</p>
                                    <p>Build powerful marketing segments, gain insights and identify new revenue opportunities.
                                    Easily create a 360-degree Single Customer View with a comprehensive, unique profile for every single customer</p>
                                    <p>&nbsp;</p>
                                    <p>Start with the package that meets your needs and add or upgrade as you see results!</p>
                                </div>
                            </div>
                            <div class="div-block-inline">
                                <iframe class="embedded-video" [src]='cdpURL' title="Customer Data Platform"
                                        frameborder="0"
                                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- Features grid -->
                    <div
                        class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8 w-full mt-6 sm:mt-6">

                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/email_integration.jpg">
                            <div class="mt-4 text-xl font-medium">Works with your existing Email Service</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>In-depth integration with leading email services, such as Mailchimp and
                                    Sendinblue, with more coming soon.</p>
                                <p>Full bi-directional list management, powerful segmentation and email activity imports to
                                    track Sends, Opens, Clicks & Bounces.</p>
                                <p>No need to change your email provider and you keep your complete email marketing history</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/svc_database.png">
                            <div class="mt-4 text-xl font-medium">Single Customer View Database</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>Match and merge data from unlimited sources into a unique, 360-degree view of every single customer. </p>
                                <p>Understand who your customers are, what they buy and what they're interested in and how they're
                                    responding to your marketing campaigns</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/dragdrop.png">
                            <div class="mt-4 text-xl font-medium">Intuitive Drag and Drop Interface
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>Creating powerful target groups and audiences doesn't need to be difficult.
                                    No more trying to work out how to combine "And" and "Or" rules to get the results you want.</p>
                                <p>Simply click or drag characteristics that describes the customers you wish to target. Get immediate results with real-time previews</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/ecommerce.png">
                            <div class="mt-4 text-xl font-medium">Ecommerce Platforms</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>In-depth integration with leading ecommerce platforms, such as Shopify, with more coming
                                    soon.</p>
                                <p>Automatically pull customer and sales data directly into your CDP</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/dashboard.png">
                            <div class="mt-4 text-xl font-medium">Powerful Dashboard</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>Track trends over time and see how your data is growing and improving with every new
                                    customer interaction.</p>
                                <p>Gain insights into your customers and discover opportunities to increase revenue.
                                Measure the increased Return on Investment from your email marketing</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/importer.png">
                            <div class="mt-4 text-xl font-medium">Intelligent File Importer</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>Easily import data that you already have. Extract, Transform & Load from unlimited sources</p>
                                <p>No matter how your data is stored, Dymazoo's intuitive & intelligent file importer makes it easy</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/event.png">
                            <div class="mt-4 text-xl font-medium">Event Management Solutions</div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>In-depth integration with leading event management solutions, such as Eventbrite.</p>
                                <p>Automatically pull customer, booking and attendance data directly into your CDP</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/api.png">
                            <div class="mt-4 text-xl font-medium">Comprehensive & Flexible API
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>More technical users can integrate Dymazoo with in-house systems so that data automatically flows into your CDP</p>
                            </div>
                        </div>
                        <div>
                            <img style="width:60px;height:100px" src="assets/images/pages/home/rocket.png">
                            <div class="mt-4 text-xl font-medium">Grows with you
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                Dymazoo has no limit of the number of customer profiles you can manage. Only pay for what
                                you need and enjoy unlimited potential
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Frequently asked questions -->
        <div #faq id="faq"
             class="relative pt-2 pb-12 sm:pt-8 sm:pb-24 px-6 sm:px-16 overflow-hidden">
            <!-- Background - @formatter:off -->
            <svg class="-z-1 absolute inset-0"
                 viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
                 xmlns="http://www.w3.org/2000/svg">
                <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor"
                   stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <!-- @formatter:on -->
            <div class="flex flex-col items-center px-4 py-2 sm:px-8 sm:pt-8 sm:pb-10 dark:bg-gray-800">
                <div class="w-full max-w-7xl">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-tight">
                            Frequently asked questions
                        </div>
                        <div class="max-w-xl mt-2 text-xl text-secondary">
                            Some of our customer's most frequently asked questions
                        </div>
                    </div>
                    <!-- FAQs grid -->
                    <div class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:gap-x-16 w-full mt-8 sm:mt-10">
                        <div>
                            <div class="text-xl font-semibold">
                                What is a Single Customer View (SCV) ?
                            </div>
                            <div class="mt-2 leading-6 text-secondary justify-text">
                                <p>
                                    You probably already have a lot of data about your customers, but it may be scattered
                                    and difficult, or even <b>impossible</b>, to make good use of.
                                    Existing <b>Customer Data</b> and their <b>Sales History</b> are in your On-line store, Ecommerce
                                    solution and Accounting system.
                                    <b>Contact information</b>, like email address and phone number, are in your Email
                                    Platform, often with <b>Duplication</b> between email lists, or worse, mismatched and different data for the same person.
                                    There's also who you sent a specific marketing campaign to in the past, and their activity history, such as <b>Opens</b>, <b>Clicks</b>
                                    and <b>Bounces</b>. You may have data from on-line or physical <b>Events</b> that you'e hosted and who booked and/or attended.
                                    And many of our customers have a whole collection of <b>Spreadsheets</b> and <b>Files</b> with other customer data, that they simply aren't getting
                                    value from.
                                </p>
                                <p class="mt-2">
                                    The Dymazoo CDP takes all of this data and automatically matches and merges
                                    to create a unique <b>360 degree view</b> of each customer. This includes <b>Demographics</b> (age, gender,
                                    location, interests, etc), <b>Behavioral</b> (opens, clicks, page views, etc) and
                                    <b>Transactional</b> (sales, event attendance, product returns, etc).
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="text-xl font-semibold">
                                What is a Marketing Universe?
                            </div>
                            <div class="mt-2 leading-6 text-secondary justify-text">
                                <p>
                                    A marketing universe is the key to identifying your target audiences for future
                                    marketing activities and for gaining insights into the behaviours and preferences of different groups of customers.
                                </p>
                                <p class="mt-2">
                                    Each complete customer profile in the SCV Database is analysed and augmented with
                                    <b>Added Value</b> information, such as <b>Recency</b>,
                                    <b>Frequency</b> and <b>Value</b> related to that customer's <b>Behavioural</b> and
                                    <b>Transactional</b> activity.
                                    How many purchases have they made in the last 30, 60, 90 or more days? How often
                                    have they opened an email from a marketing campaign?
                                    What has the total value of the customer been, broken down by lifetime and by
                                    purchasing period.
                                    Further analysis makes use of the customer's <b>Demographic</b> data add information
                                    about the <b>Quality</b> of their record
                                    to allocate them to pre-built categories, such "age is 18-25, 26-30, etc" or "gender is male,
                                    female or unknown".
                                </p>
                                <p class="mt-2">
                                    A marketing universe is ever changing. As new data is added to the SCV Database, and as time
                                    passes, the <b>Added Value</b> information  in each customer profile also changes.
                                    This is why it's vital to rebuild the entire marketing universe regularly.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="text-xl font-semibold">
                                How can Target Audiences and Segmentation help my business?
                            </div>
                            <div class="mt-2 leading-6 text-secondary justify-text">
                                <p>
                                    The detailed and <b>Added Value</b> information in your marketing universe allows you to identify commonalities
                                    between customers and create segments, resulting in powerful, focused and appropriate target groups.
                                    This might be something like "Woman under 40 that are interested in fashion and have a total
                                    sales value up to £200 in the past 90 days", "People that live within 100 miles of
                                    Birmingham, and have signed up to a webinar in the past year" or "Everyone that we have included in a specific marketing
                                    campaign, that opened but did not click".
                                    Each customer might belong to only a single target group, or they may be in
                                    several different groups.
                                </p>
                                <p class="mt-2">
                                    You can then <b>combine</b>, <b>filter</b>, or even exclude, people by target group to create <b>highly focused audiences</b>
                                    for your Marketing Campaigns that offer products and services that are <b>relevant</b>, <b>popular</b> and <b>timely</b>.
                                    While at the same time not sending irrelevant or unwelcome emails to customers
                                    that the campaign would not interest.
                                </p>
                                <p class="mt-2">
                                    You can also send different <b>Follow On</b> campaigns to different customers. For example, sending
                                    a compelling re-engagement offer to those customers that did not open, a <b>Call to Action</b> offer to those that did
                                    open but did not click, and a "you might also like" offer to customers that went on to make a purchase from the
                                    initial campaign.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="text-xl font-semibold">
                                What is a typical Return on Investment (ROI) for targeted marketing?
                            </div>
                            <div class="mt-2 leading-6 text-secondary justify-text">
                                <p>
                                    <b>Mass marketing</b> (also known as "spray and pray") might reach a lot of people
                                    but most of them will take no action,
                                    or may even unsubscribe losing you any future opportunity to communicate with them.
                                    <b>Targeted marketing</b> is extremely
                                    cost-effective allowing you to connect with the right audience, with the right offer,
                                    at the right time, while only spending on campaigns that work.
                                </p>
                                <p class="mt-2">
                                    ROI will vary from business to business, but studies show that on average, <b>77%</b> of
                                    email marketing Return on Investment comes from segmented and targeted campaigns.
                                </p>
                                <p class="mt-2">
                                    "MailChimp reports that email opens and unique opens of segmented campaigns were
                                    14.31% higher than non-segmented campaigns.
                                    Clicks from segmented campaigns were also more than 100% higher compared to
                                    non-segmented campaigns. Finally, when emails are
                                    segmented, there are 9.37% fewer un-subscribers" according to <a
                                    href="https://marketinginsidergroup.com/content-marketing/effectively-segment-email-list/"
                                    target="_blank"> Marketing Insider Group. </a>
                                </p>
                                <p><b>Effective email marketing</b> yields a Return on Investment of up to
                                    <a href="https://www.forbes.com/sites/allbusiness/2020/10/26/email-marketing-still-the-most-powerful-tool-to-take-your-business-to-the-next-level/?sh=5743d93b34bf" target="_blank">
                                        <b>$42 for every $1 spent</b></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA -->
        <div class="px-6 py-10 sm:py-12 sm:px-16 background-dymazoo text-on-primary-600">
            <div class="flex flex-col items-center w-full max-w-7xl mx-auto text-center">
                <div>
                    <img style="width:300px;height:265px" src="assets/images/pages/home/sign_up.png">
                </div>
                <div>
                    <div class="text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10">
                        Take control of your marketing
                    </div>
                    <div
                        class="mt-2 text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10 text-black text-opacity-70">
                        Start using Dymazoo today
                    </div>
                    <button
                        mat-flat-button
                        class="fuse-mat-button-large mt-8 px-12 bg-white text-primary-800"
                        (click)="gotoRegister()">
                        <span class="text-lg">Get Started!</span>
                    </button>
                </div>
            </div>
        </div>

        <div>
            <span class="cursor-pointer privacy-details" (click)="privacy()">
                Privacy Policy
            </span>
            <span class="cursor-pointer privacy-details" (click)="terms()">
                Terms of Use
            </span>
            <span class="cursor-pointer privacy-details" (click)="cookies()">
                Cookies
            </span>
        </div>

    </div>

    <login *ngIf="action=='login'"></login>

</div>
