<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">
    <div class="home-header">
        <div class="home-logo">
            <a href="https://www.dymazoo.com"></a>
        </div>
        <div class="home-get-started">
            <span *ngIf="!isLoggedIn" class="cursor-pointer home-header-link" (click)="gotoRegister()">
                Sign Up
            </span>
            <span *ngIf="!isLoggedIn" class="cursor-pointer" (click)="toggleLogin($event)">
                Log In
            </span>
        </div>

    </div>

    <div *ngIf="action=='none'" class="home-body" fuseScrollbar [fuseScrollbarOptions]="{suppressScrollX: true}">
        <div class="home-banner">
            <div class="home-message">
                <div class="home-message-top">
                    INCREASE YOUR REVENUE WITH TARGETED MARKETING
                </div>
                <div class="home-message-main">
                    A true Single Customer View for your business
                </div>
                <div class="home-message-bottom">
                    <p>Easily create a comprehensive and unique profile for every customer</p>
                    <p>Create powerful marketing segments, gain insights and identify new opportunities</p>
                </div>
                <div class="home-banner-actions">
                    <button class="fuse-mat-button-large w-70 mt-2 bg-primary-200"
                            mat-flat-button type="button"
                            (click)="gotoRegister()">Get started now!
                    </button>
                    <button class="fuse-mat-button-large w-70 mt-2 ml-2 bg-green-300"
                            mat-flat-button type="button"
                            (click)="gotoFeatures()">See what's included
                    </button>
                    <button class="fuse-mat-button-large w-70 mt-2 ml-2 bg-red-300"
                            mat-flat-button type="button"
                            (click)="gotoFAQ()">Find out more
                    </button>
                </div>
            </div>
        </div>

        <!-- Background - @formatter:off -->
        <svg class="-z-1 absolute inset-0"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
             xmlns="http://www.w3.org/2000/svg">
            <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor"
               stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->

        <!-- Features -->
        <div #features id="features"
             class="relative pt-2 pb-12 sm:pt-8 sm:pb-24 px-6 sm:px-16 overflow-hidden">
            <!-- Background - @formatter:off -->
            <svg class="-z-1 absolute inset-0"
                 viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
                 xmlns="http://www.w3.org/2000/svg">
                <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor"
                   stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <!-- @formatter:on -->
            <div class="flex flex-col items-center px-4 py-2 sm:px-8 sm:pt-8 sm:pb-10 dark:bg-gray-800">
                <div class="w-full max-w-7xl">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-tight">
                            Features
                        </div>
                        <div class="max-w-4xl mt-2 text-xl text-secondary">
                            Start with the package that meets your needs and add specific features or upgrade to a
                            different
                            package as you see results and your needs grow
                        </div>
                    </div>
                    <!-- Features grid -->
                    <div
                        class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8 w-full mt-6 sm:mt-6">
                        <div>
                            <img style="width:60px;height:100px" src="assets/images/pages/home/rocket.png">
                            <div class="mt-4 text-xl font-medium">Increase the number of customer profiles at any time
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                Dymazoo has no limit of the number of customer profiles you can have. Only pay for what
                                you
                                need and enjoy unlimited potential
                            </div>
                        </div>

                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/email_integration.jpg">
                            <div class="mt-4 text-xl font-medium">Email Service Providers</div>
                            <div class="mt-2 leading-6 text-secondary">
                                In-depth integration with leading email service providers, such as Mailchimp and
                                Sendinblue, with more coming soon.
                                Full bi-directional list management, powerful segmentation and email activity imports to
                                track Sends, Opens, Clicks & Bounces.
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/svc_database.png">
                            <div class="mt-4 text-xl font-medium">Single Customer View database</div>
                            <div class="mt-2 leading-6 text-secondary">
                                Match and merge data from unlimited sources into a unique, 360 degree view of every
                                customer. Understand who
                                your customers are, what they buy and what they're interested in and how they are
                                responding to your marketing campaigns
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/ecommerce.png">
                            <div class="mt-4 text-xl font-medium">Ecommerce Solutions</div>
                            <div class="mt-2 leading-6 text-secondary">
                                In-depth integration with leading ecommerce solutions, such as Shopify, with more coming
                                soon. Automatically add customer and sales data to your SCV
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/dashboard.png">
                            <div class="mt-4 text-xl font-medium">Powerful Dashboard</div>
                            <div class="mt-2 leading-6 text-secondary">
                                Track trends over time and see how your data is growing and improving with every new
                                customer interaction. Gain insights
                                into your customers and discover opportunities to increase profitability
                            </div>
                        </div>
                        <div>
                            <img style="width:100px;height:100px" src="assets/images/pages/home/event.png">
                            <div class="mt-4 text-xl font-medium">Event Management Solutions</div>
                            <div class="mt-2 leading-6 text-secondary">
                                In-depth integration with leading event management solutions, such as Eventbrite.
                                Automatically add customer, booking and attendance data to your SCV
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Frequently asked questions -->
        <div #faq id="faq"
             class="relative pt-2 pb-12 sm:pt-8 sm:pb-24 px-6 sm:px-16 overflow-hidden">
            <!-- Background - @formatter:off -->
            <svg class="-z-1 absolute inset-0"
                 viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
                 xmlns="http://www.w3.org/2000/svg">
                <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor"
                   stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <!-- @formatter:on -->
            <div class="flex flex-col items-center px-4 py-2 sm:px-8 sm:pt-8 sm:pb-10 dark:bg-gray-800">
                <div class="w-full max-w-7xl">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-tight">
                            Frequently asked questions
                        </div>
                        <div class="max-w-xl mt-2 text-xl text-secondary">
                            Some of our customer's most frequently asked questions
                        </div>
                    </div>
                    <!-- FAQs grid -->
                    <div class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:gap-x-16 w-full mt-8 sm:mt-10">
                        <div>
                            <div class="text-xl font-semibold">
                                What is a Single Customer View (SCV) ?
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>
                                    You probably already have a lot of data about your customers, but it maybe scattered
                                    and difficult or impossible to use.
                                    Existing customers and their sales history could be in your On-line store, Ecommerce
                                    solution and sales history files.
                                    Contact information, like email address and phone number, may be in the Email
                                    Service Provider, often with duplication
                                    between email lists, or even mismatched and different data for the same person.
                                    There's also who you sent a specific
                                    marketing campaign to in the past, and their activity history, such as Opens, Clicks
                                    and Bounces. You may have data
                                    from on-line or physical events that you ran and who booked and/or attended. And
                                    many of our customers have a whole
                                    collection of files with all sorts of customer data, that they don't know what to do
                                    with.
                                </p>
                                <p class="mt-2">
                                    The Dymazoo SCV Database takes all of this data and automatically matches and merges
                                    to create a unique
                                    360 degree view of each customer. This includes <b>Demographics</b> (age, gender,
                                    location, interests, etc), <b>Behavioral</b> (opens,
                                    clicks, page views, etc) and <b>Transactional</b> (sales, event attendance, product
                                    returns, etc).
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="text-xl font-semibold">
                                What is a Marketing Universe?
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>
                                    A marketing universe is the key to identifying your target audience for future
                                    marketing activities and for
                                    gaining insights into the behaviours of different groups of customers, that have
                                    similarities.
                                </p>
                                <p class="mt-2">
                                    Each complete customer record in the SCV is analysed and augemented with information
                                    such as <b>Recency</b>,
                                    <b>Frequency</b> and <b>Value</b> related to that customer's <b>Behavioural</b> and
                                    <b>Transactional</b> activity.
                                    How many purchases have they made in the last 30, 60, 90 or more days? How often
                                    have they opened an email from a marketing campaign?
                                    What has the total value of the customer been, broken down by lifetime and by
                                    purchasing period.
                                    Further analysis makes use of the customer's <b>Demographic</b> data add information
                                    about the <b>Quality</b> of their record and
                                    to include them into categories, such "age is 18-25, 26-30, etc" or "gender is male,
                                    female or unknown".
                                </p>
                                <p class="mt-2">
                                    A marketing universe is ever changing. As new data is added to the SCV and as time
                                    passes the derived information added to
                                    the SCV record also changes. So it's vital to rebuild the entire universe
                                    regularly.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="text-xl font-semibold">
                                How do Target Audiences and Segmentation help my business?
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>
                                    The augmented data in the marketing universe allows you to identify commonalities
                                    between customers and segment them into
                                    appropriate target groups. This might be something like "Woman under 40 that are
                                    interested in fashion and have a total
                                    sales value up to £200 in the past 90 days", "People that live within 100 miles of
                                    Birmingham, and have signed up to a
                                    webinar in the past year" or "Everyone that we have included in a specific marketing
                                    campaign, that opened but did not click".
                                    Each customer might belong to only a single target audience, or they may be in
                                    several different audiences.
                                </p>
                                <p class="mt-2">
                                    Having identified target audiences, you can create Marketing Campaigns that offer
                                    products and services that are popular
                                    with some customers to other, similar customers, while at the same time not sending
                                    irrelevant messages to customers
                                    that the campaign would not interest.
                                </p>
                                <p class="mt-2">
                                    You can also send different follow on campaigns to customers. For example by sending
                                    a compelling re-engagement offer to
                                    those customers that did not open, sending a call to action offer to those that did
                                    open but did not click and sending a
                                    "you might also like" offer to customers that went on to make a purchase from the
                                    initial campaign.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="text-xl font-semibold">
                                What is a typical Return on Investment (ROI) for targeted marketing?
                            </div>
                            <div class="mt-2 leading-6 text-secondary">
                                <p>
                                    <b>Mass marketing</b> (also known as "spray and pray") might reach a lot of people
                                    but most of them will take no action,
                                    or may even unsubscribe losing you any future opportunity to communicate with them.
                                    <b>Targeted marketing</b> is extremely
                                    cost-effective allowing you to connect with the right audience, with the right offer
                                    while only spending on campaigns that work.
                                </p>
                                <p class="mt-2">
                                    ROI will vary from business to business, but studies show that on average, 77% of
                                    email marketing ROI comes from segmented,
                                    targeted campaigns.
                                </p>
                                <p class="mt-2">
                                    "MailChimp reports that email opens and unique opens of segmented campaigns were
                                    14.31% higher than non-segmented campaigns.
                                    Clicks from segmented campaigns were also more than 100% higher compared to
                                    non-segmented campaigns. Finally, when emails are
                                    segmented, there are 9.37% fewer un-subscribers" according to <a
                                    href="https://marketinginsidergroup.com/content-marketing/effectively-segment-email-list/"
                                    target="_blank">
                                    Marketing Insider Group.
                                </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA -->
        <div class="px-6 py-10 sm:py-12 sm:px-16 background-dymazoo text-on-primary-600">
            <div class="flex flex-col items-center w-full max-w-7xl mx-auto text-center">
                <div>
                    <img style="width:300px;height:265px" src="assets/images/pages/home/sign_up.png">
                </div>
                <div>
                    <div class="text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10">Take
                        control of
                        your marketing
                    </div>
                    <div
                        class="mt-2 text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10 text-black text-opacity-70">
                        Start using Dymazoo today.
                    </div>
                    <button
                        mat-flat-button
                        class="fuse-mat-button-large mt-8 px-12 bg-white text-primary-800"
                        (click)="gotoRegister()">
                        <span class="text-lg">Get Started Now</span>
                    </button>
                </div>
            </div>
        </div>

        <div>
            <span class="cursor-pointer privacy-details" (click)="privacy()">
                Privacy Policy
            </span>
            <span class="cursor-pointer privacy-details" (click)="terms()">
                Terms of Use
            </span>
            <span class="cursor-pointer privacy-details" (click)="cookies()">
                Cookies
            </span>
        </div>

    </div>

    <login *ngIf="action=='login'"></login>

</div>
