
.mat-column-firstname {
    width: 10%;
}
.mat-column-lastname {
    width: 10%;
}
.mat-column-emails {
    width: 20%;
}
.mat-column-mobiles {
    width: 20%;
}
.mat-column-postcode {
    width: 10%;
}
.mat-column-action {
    width: 40%;
}
