<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden component" *transloco="let t">
    <fuse-card class="card-major">
        <div class="p-4">
            <div class="h1 text-white bg-primary">{{t('data-compliance-heading')}}</div>
        </div>

        <div class="major-item" fuseScrollbar>

            <div id="forms" class="simple fullwidth">

                <div class="content p-3">
                    <div *ngIf="errors.length > 0">
                        <div class="content p-3 alert alert-danger" (click)="clearErrors()">
                            <div class="card-header">
                                <strong>Errors</strong>
                            </div>
                            <ul>
                                <li *ngFor="let message of errors">
                                    {{ message }}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <form class="flex flex-col mt-2 p-2 pb-1 bg-card rounded-2xl shadow overflow-hidden"
                          name="complianceForm" [formGroup]="complianceForm"
                          (submit)="onSubmit()">

                        <div class="flex flex-col gt-xs:flex-row p-2">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Email address of requestor</mat-label>
                                <input matInput formControlName="email" autocomplete="do-not-autofill">
                                <mat-error>{{ getErrorMessage(complianceForm.controls.email, 'Email')}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col gt-xs:flex-row p-2">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Mobile phone of requestor</mat-label>
                                <input matInput formControlName="mobile" autocomplete="do-not-autofill" [errorStateMatcher]="errorMatcher">
                                <mat-error>{{ getErrorMessage(complianceForm.controls.mobile, 'Mobile')}}</mat-error>
                                <mat-error>{{ getErrorMessage(complianceForm, '')}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="flex items-center justify-end">
                            <div class="flex items-center justify-end">
                                <button class="fuse-mat-button-large w-20 mt-2"
                                        mat-button
                                        type="button" (click)="onBack()">
                                    Back
                                </button>
                            </div>

                            <button class="fuse-mat-button-large w-70 mt-2 bg-primary"
                                    mat-flat-button
                                    [disabled]="!complianceForm.valid"
                                    type="submit">
                                Match people
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </fuse-card>
</div>
