<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden component" *transloco="let t">

    <fuse-card class="card-major">
        <div class="p-4">
            <div class="h1 text-white bg-primary">{{t('data-import-heading')}}</div>
        </div>
        <div class="major-item" fuseScrollbar>

            <div id="forms" class="simple fullwidth">

                <div class="content p-3" cdkDropListGroup>
                    <form *ngIf="hasData" class="flex flex-col"
                          name="importForm" [formGroup]="importForm"
                          (ngSubmit)="doImport()">

                        <div *ngIf="errors.length > 0">
                            <div class="content p-3 alert alert-danger" (click)="clearErrors()">
                                <div class="card-header">
                                    <strong>Errors</strong>
                                </div>
                                <ul>
                                    <li *ngFor="let message of errors">
                                        {{ message }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <input type="hidden" name="id" id="id" formControlName="id">
                        <input type="hidden" name="file-name" id="file-name" formControlName="file-name">

                        <div class="flex gt-xs:flex-row">
                            <div class="basis-7/12">
                                <div class="flex gt-xs:flex-row ">
                                    <mat-form-field class="basis-6/12" appearance="outline">
                                        <mat-label>Select file to import</mat-label>
                                        <ngx-mat-file-input #fileInput placeholder="Select file to import (csv,txt)"
                                                            formControlName="file-input" [accept]="'.csv,.txt'"
                                                            (change)="fileChange()">
                                        </ngx-mat-file-input>
                                        <mat-icon matSuffix>folder</mat-icon>
                                        <mat-error>{{ getErrorMessage(importForm.get('file-input'), 'File to import')}}</mat-error>
                                    </mat-form-field>
                                    <div class="basis-4/12">
                                        <mat-checkbox #header name="header" [formControl]="importForm.get('header')"
                                                      value="1" (change)="headerChange(header)">Has header
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="flex gt-xs:flex-row">
                                    <div align="left" class="basis-6/12" *ngIf="!openedLayout">
                                        <button class="fuse-mat-button-large w-70 mt-2 bg-primary-400"
                                                mat-flat-button type="button"
                                                (click)="doOpenLayout()">Use saved layout
                                        </button>
                                    </div>
                                    <div *ngIf="hasLayout">
                                        <div align="right" class="basis-6/12" *ngIf="!getLayoutName">
                                            <button class="fuse-mat-button-large w-70 mt-2 bg-primary-400"
                                                    mat-flat-button type="button"
                                                    (click)="doGetLayoutName()">Save layout
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="hasLayout" class="flex gt-xs:flex-row">
                                    <div class="basis-8/12" *ngIf="getLayoutName">
                                        <div class="flex flex-col gt-xs:flex-row">
                                            <mat-form-field
                                                class="flex-auto gt-xs:pr-3">
                                                <mat-label>Layout name</mat-label>
                                                <input matInput formControlName="name" autocomplete="do-not-autofill"
                                                       focus>
                                                <mat-error>{{ getErrorMessage(importForm.controls.name, 'Layout Name')}}</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex flex-col gt-xs:flex-row">
                                            <mat-form-field
                                                class="flex-auto gt-xs:pr-3">
                                                <mat-label>Description</mat-label>
                                                <input matInput formControlName="description"
                                                       autocomplete="do-not-autofill" focus>
                                                <mat-error>{{ getErrorMessage(importForm.controls.description, 'Layout Description')}}</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="basis-4/12" fxLayoutAlign="right" *ngIf="getLayoutName">
                                        <button class="fuse-mat-button-large w-70 mt-2 bg-primary-400"
                                                mat-flat-button type="button"
                                                [disabled]="!importForm.controls.name.value"
                                                (click)="doSaveLayout(false)">
                                            Save layout
                                        </button>
                                        <button class="fuse-mat-button-large w-70 mt-2 bg-primary-400"
                                                mat-flat-button type="button"
                                                [disabled]="!importForm.controls.name.value"
                                                (click)="doSaveLayout(true)" *ngIf="importForm.controls.id.value">
                                            Save layout to new name
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <div align="left">
                                    </div>
                                </div>
                            </div>

                            <div class="basis-1/12">
                            </div>

                            <div class="basis-4/12">
                                <div style="margin-bottom: 0.25rem !important;">
                                    <div class="card-header">
                                        <strong>Available fields</strong>
                                    </div>
                                    <div id="available-field-container"
                                         class="fields-drag-list"
                                         *ngIf="showFields"
                                         cdkDropList cdkDropListSortingDisabled
                                         (cdkDropListDropped)="drop($event)"
                                    >
                                        <div *ngFor="let field of fields; let i=index">
                                            <button *ngIf="!field.inLayout" cdkDrag mat-stroked-button
                                                    class="bg-teal-400"
                                                    [matTooltip]="field.description"
                                                    [cdkDragData]="{id:field.id, index:i}">
                                                {{ field.name }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="scroll-fields-label">
                            <div class="div-inline float-left">
                                <span *ngIf="scrollLess"><mat-icon inline="true">arrow_back</mat-icon> more</span>
                            </div>
                            <div class="div-inline float-right">
                                    <span *ngIf="scrollMore">more <mat-icon
                                        inline="true">arrow_forward</mat-icon></span>
                            </div>
                            <div class="div-inline float-center">
                                <strong>Fields in layout</strong>
                            </div>
                        </div>

                        <div class="scroll-fields-container-import" #scrollContainer>

                            <div class="scroll-labels-column scroll-labels div-block-inline">
                                <div class="card">
                                    <div class="div-field-header">
                                        <strong>Field name</strong>
                                    </div>
                                    <div class="card-block div-label-container-import">
                                        <label class="scroll-labels-label">Transformation</label>
                                        <label class="scroll-labels-label">Default value</label>
                                        <label class="scroll-labels-label">Sample data</label>
                                    </div>
                                </div>
                            </div>
                            <div class="scroll-fields div-block-inline dragdrop" id="layout-fields-container"
                                 formArrayName="layoutFields" #scrollFields>
                                <div class="div-block-inline pl-1">
                                </div>

                                <div class="layout-fields-drag-list">
                                    <div cdkDropList
                                         id="layout-container"
                                         class="drag-box div-block-inline"
                                         *ngFor="let field of importForm.controls['layoutFields'].controls; let i=index"
                                         (cdkDropListDropped)="drop($event)">
                                        <div class="card">
                                            <div class="card-header card-primary">
                                                <div class="div-field-header">
                                                    <button cdkDrag mat-flat-button class="bg-cyan-500"
                                                            [matTooltip]="layoutFields[i].fieldDescription"
                                                            [cdkDragData]="{id:layoutFields[i].fieldId, index:i}">
                                                        {{ layoutFields[i].fieldName }}
                                                    </button>
                                                    <mat-icon
                                                        *ngIf="i==importForm.controls['layoutFields'].controls.length - 1"
                                                        matTooltip="Add an extra column" class="float-right"
                                                        (click)="addColumn()">
                                                        add_circle_outline
                                                    </mat-icon>
                                                </div>
                                            </div>
                                            <div class="card-block div-field-container-import" [formGroupName]="i">
                                                <div class="scroll-field-items">
                                                    <mat-select formControlName="transformId"
                                                            size="1" class="basis-11/12">
                                                        <mat-option value="">None</mat-option>
                                                        <mat-option *ngFor="let transform of transforms"
                                                                value="{{ transform.id }}">{{ transform.name }}</mat-option>
                                                    </mat-select>
                                                </div>
                                                <div class="scroll-field-items">
                                                    <input matInput
                                                           class="basis-11/12 input-boxed scroll-field-input"
                                                           formControlName="default"
                                                           value="{{ layoutFields[i].default }}">
                                                </div>
                                                <div class="scroll-field-sample">
                                                    <label>{{ layoutFields[i].sample[sample1] }}</label>
                                                </div>
                                                <div class="scroll-field-sample">
                                                    <label>{{ layoutFields[i].sample[sample2] }}</label>
                                                </div>
                                                <div class="scroll-field-sample">
                                                    <label>{{ layoutFields[i].sample[sample3] }}</label>
                                                </div>
                                                <div class="scroll-field-sample">
                                                    <label>{{ layoutFields[i].sample[sample4] }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center justify-end">
                            <button class="fuse-mat-button-large w-20 mt-2"
                                    mat-button
                                    type="button" (click)="onBack()">
                                Back
                            </button>
                            <button class="fuse-mat-button-large w-20 mt-2"
                                    mat-stroked-button
                                    type="button" (click)="onCancel()">
                                Reset
                            </button>
                            <button class="fuse-mat-button-large w-20 mt-2 bg-primary"
                                    mat-flat-button
                                    [disabled]="!hasLayout || !importForm.valid"
                                    type="submit">
                                Import
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </fuse-card>
</div>
