<h1 mat-dialog-title>Abandon changes</h1>
<div mat-dialog-content>
    <div id="forms" class="page-layout simple fullwidth" fxLayout="column">

        <div class="content p-12">
            <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" name="abandonForm" [formGroup]="abandonForm"
                  (submit)="onConfirm()">

                <p>Unsaved data will be lost</p>

                <div fxLayout="row" fxLayoutAlign="end end">
                    <button mat-raised-button type="button" class="warn mr-4" (click)="onCancel()">Stop</button>
                    <button mat-raised-button type="submit" class="teal mr-4">Continue</button>
                </div>

            </form>
        </div>
    </div>
</div>
