<div *transloco="let t">
    <div class="h1 text-white bg-primary central">Abandon changes</div>
    <div mat-dialog-content>
        <div id="forms" class="simple">

            <div class="content p-3">
                <form class="flex flex-col mt-2 p-2 pb-1 bg-card rounded-2xl shadow overflow-hidden" name="abandonForm"
                      [formGroup]="abandonForm"
                      (submit)="onConfirm()">

                    <p>Unsaved data will be lost</p>

                    <div class="flex items-center justify-end">
                        <button class="fuse-mat-button-large w-50 mt-2"
                                mat-stroked-button type="button" (click)="onCancel()">Don't lose data
                        </button>
                        <button class="fuse-mat-button-large w-20 mt-2 bg-primary"
                                mat-flat-button type="submit">Ok
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
