<div *transloco="let t">
    <div class="h1 text-white bg-primary central">Confirm</div>
    <div mat-dialog-content>
        <div id="forms" class="simple fullwidth">

            <div class="content p-3">
                <form class="flex flex-col mt-1 p-1 pb-1 bg-card rounded-2xl shadow overflow-hidden" name="confirmForm"
                      [formGroup]="confirmForm"
                      (submit)="onConfirm()">

                    <p class="text-center font-bold">{{ confirmMessage }}</p>
                    <p class="text-center" *ngIf="informationMessage.length > 0">{{ informationMessage }}</p>

                    <div class="flex items-center justify-end">
                        <button class="fuse-mat-button-large w-20 mt-2"
                                mat-stroked-button type="button" (click)="onCancel()">No
                        </button>
                        <button class="fuse-mat-button-large w-20 mt-2 bg-primary"
                                mat-flat-button type="submit">Yes
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
