<div *transloco="let t">
    <div class="h1 text-white bg-primary central">{{title}}</div>
    <div mat-dialog-content>
        <div id="forms" class="simple fullwidth">

            <div class="content p-3">
                <form class="flex flex-col mt-1 p-1 pb-1 bg-card rounded-2xl shadow overflow-hidden" name="confirmForm"
                      [formGroup]="confirmForm"
                      (submit)="onConfirm()">

                    <div *ngIf="buttons==='ok2'" class="flex items-center justify-end">
                        <button class="fuse-mat-button-large w-20 mt-2 bg-primary"
                                mat-flat-button type="submit">Ok
                        </button>
                    </div>
                    <div *ngIf="buttons==='close2'" class="flex items-center justify-end">
                        <button class="fuse-mat-button-large w-20 mt-2 bg-primary"
                                mat-flat-button type="submit">Close
                        </button>
                    </div>

                    <p class="text-center font-bold">{{ confirmMessage }}</p>
                    <p class="text-center" *ngIf="informationMessage.length > 0" >{{ informationMessage }}</p>
                    <div *ngIf="rawHtml.length > 0" [innerHTML]="rawHtml | safe: 'html'" ></div>

                    <div *ngIf="buttons==='yesno'" class="flex items-center justify-end">
                        <button class="fuse-mat-button-large w-20 mt-2 bg-primary"
                                mat-flat-button type="submit">Yes
                        </button>
                        <button class="fuse-mat-button-large w-20 mt-2"
                                mat-stroked-button type="button" (click)="onCancel()">No
                        </button>
                    </div>

                    <div *ngIf="buttons==='ok' || buttons==='ok2'" class="flex items-center justify-end">
                        <button class="fuse-mat-button-large w-20 mt-2 bg-primary"
                                mat-flat-button type="submit">Ok
                        </button>
                    </div>
                    <div *ngIf="buttons==='close' || buttons==='close2'" class="flex items-center justify-end">
                        <button class="fuse-mat-button-large w-20 mt-2 bg-primary"
                                mat-flat-button type="submit">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
